@import url("style/root.css");
@import url("style/Init.css");
@import url("style/Animation.css");

/* 为兼容旧版本，改为通过 theme.js 引入 */
/* @import url("style/MI.css");
@import url("style/MI-TabBar.css"); */

@import url("style/Popup.css");
@import url("style/Popup.Setting.css");
@import url("style/Popup-TextColorMenu.css");
@import url("style/Popup-Printer.css");

@import url("style/Block.css");
@import url("style/Block-Inline.css");
@import url("style/Block-NodeHeading.css");
@import url("style/Block-Table.css");
@import url("style/Block-CodeBlock.css");
@import url("style/Block-Embed.css");
@import url("style/Block-Task.css");
@import url("style/Block-Iframe.css");

@import url("style/Patch.css");



@media screen and (min-width: 960px) {

    /* 隐藏左上角设置按钮，鼠标悬浮时显示 */
    #toolbar .toolbar__item svg {
        opacity: 0;
    }

    #toolbar:hover svg {
        opacity: 0.58;
    }
    #toolbar .toolbar__item:hover svg {
        opacity: 1;
        color: var(--SCC-Red-Firole);
    }
    /* windowControls 视觉效果优化 */
    #windowControls svg {
        opacity: 1 !important;
    }
    /* 优化右上角窗口关闭按钮焦点样式，仅适用于思源2.4.1 */
    /* #closeWindow:hover svg {
        color: var(--SCC-Gray-HellisePotter) !important;
    } */

}
@media screen and (max-width: 960px) {
    /* 宽度过小时隐藏 */
    ul.layout-tab-bar li [title="新建文档"], ul.layout-tab-bar li [title="更多"]  {
        display: none;
    }
}
