@keyframes menu {
    0% {opacity: 0.13;}
    50% { transform: scale(1.01);opacity: 0.5;}
    100% { transform: scale(1);}
}
@keyframes item-focus {
    0% { transform: scale(.01);opacity: 0.5;}
    100% { transform: scale(1); }
}
@keyframes flex-column{
    0% { transform: scale(1,.86);transform-origin: 0 0 ;opacity: 0;}
    100% { transform: scale(1,1);transform-origin: 0 0 ;}
}
@keyframes tree-list{
    0% { transform: scale(1,1);transform-origin: 0 0 ;opacity: 0;}
    33% { transform: scale(1,1.01);transform-origin: 0 0 ;opacity: 0.58;}
    77% { transform: scale(1,1.01);transform-origin: 0 0 ;opacity: 0.85;}
    100% { transform: scale(1,1); transform-origin: 0 0 ;}
}

.layout__wnd--active .layout-tab-bar .item--focus::after{
	animation: item-focus 0.2s ease-in-out;
}
.protyle-util{
    animation: menu 0.2s ease-in-out;
}
/*侧栏展开动画*/
#layouts>.fn__flex>.fn__flex-column>.fn__flex>div[data-type=wnd]>.layout-tab-container>.fn__flex-column{animation: flex-column  0.13s ease-in-out;}
.b3-list-item--hide-action{
    animation: tree-list  0.13s ease-in;
}

/* 块标切换动画，来自于Notion主题 */
.protyle-gutters {
    transition: all 200ms ease-out;
}
