/* 嵌入内容块 embed */
.protyle-wysiwyg__embed {
    /* box-shadow: rgba(6, 24, 44, 0.31) 0px 0px 1px 2px, rgba(6, 24, 44, 0.13) 0px 2px 2px -1px inset; */
    border-radius: 6px;
    opacity: .86;
    background: var(--SCC-Component-EmbedBlock-bg-color);
    box-shadow: var(--SCC-Component-EmbedBlock-box-shadow);
}

.protyle-wysiwyg__embed:hover,
.protyle-wysiwyg [data-node-id].sb:hover {
    box-shadow: rgb(111 111 111 / 7%) 0px 0px 1px 2px inset;
    border-radius: 6px;
    opacity: 1;
    transition-duration: .31s;
}

/* 隐藏 NodeBlockQueryEmbed 左边缘细线 */
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    border-left: 1px dashed transparent !important;
}

/* 嵌入块面包屑文字长度自适应 #263 */
.protyle-wysiwyg__embed {
    container-type: inline-size;
    container-name: embedBreadrumb;
}

@container embedBreadrumb (max-width: 4000px) {
    .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(2)) .protyle-breadcrumb__text {
        max-width: 40cqw;
    }

    .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(3)) .protyle-breadcrumb__text {
        max-width: 28cqw;
    }

    .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(4)) .protyle-breadcrumb__text {
        max-width: 22cqw;
    }

    .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(5)) .protyle-breadcrumb__text {
        max-width: 15cqw;
    }

    .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(6)) .protyle-breadcrumb__text {
        max-width: 10cqw;
    }

    .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(7)) .protyle-breadcrumb__text {
        max-width: 8cqw;
    }
}

div[data-type="NodeBlockQueryEmbed"]:hover {
    background-color: #58585808 !important;
}

body:focus-within div[data-type="NodeBlockQueryEmbed"]:has(.protyle-wysiwyg__embed:nth-of-type(3)) .protyle-wysiwyg__embed {
    margin: 0.31% 0 .58rem 0;
    transition: margin .31s ease;
}