/* 将默认的待办事项方框透明度设置为0 */
.protyle-wysiwyg [data-node-id].li > .protyle-action--task svg {
  opacity: 0.58;
}

/* 鼠标悬浮时设置为透明，否则会有灰色圆形出现 */
.protyle-wysiwyg [data-node-id].li > .protyle-action--task:hover:after {
  background-color: transparent !important;
  opacity: 0 !important;
}

.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action--task::after {
  border-radius: 0px;
  background-color: var(--b3-theme-primary-lightest);
  position: relative !important;
  margin-right: 1em;
  margin-bottom: 1em;
}

.li .protyle-action.protyle-action--task::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  top: 0.65em;
  right: 0.2em;
  margin-right: 0.2em;
  outline: 0.15em solid var(--b3-theme-primary-lighter);
  background-color: transparent;
}

.li.protyle-task--done .protyle-action.protyle-action--task::before {
  outline: 0.13em solid var(--b3-protyle-inline-s-color);
  background-color: var(--b3-theme-primary-light);
  /* background-image: url("../icon/dui.svg"); */
  background-position: -1.5px -1px;
  background-repeat: no-repeat;
}
.protyle-wysiwyg [data-node-id].li > .protyle-action--task svg {
  display: none; /* 隐藏默认任务列表图标（无法缩放） */
}
.protyle-wysiwyg [data-node-id].protyle-task--done > [data-node-id]:before {
  display: none; /* 隐藏默认任务辅助线 */
}

.li.protyle-task--done .p {
/*   text-decoration: line-through; */
  color: var(--b3-theme-secondary);
}

.protyle-task--done[fold="1"] > .protyle-action--task::before,
.b3-typography[fold="1"] .protyle-task--done::before {
  outline: 0.1em solid var(--b3-theme-primary-lightest) !important;
  background-color: var(--b3-theme-primary-lightest) !important;
  background-position: -1.5px -1px;
  background-repeat: no-repeat;
}
