/* 分割线 */
[data-type="NodeThematicBreak"] div {
    border-bottom: 1px solid #585858 !important;
}

/* 数学公式块 */
.protyle-wysiwyg [data-node-id][fold="0"][data-subtype="math"]:not(.li):not([data-type=NodeHeading]):hover {
    box-shadow: rgba(6, 24, 44, 0.31) 0px 0px 1px 2px inset;
    transition-duration: .31s;
}
.protyle-wysiwyg [data-node-id][fold="1"][data-subtype="math"]:not(.li):not([data-type=NodeHeading]) {
    box-shadow: rgba(17, 17, 26, 0.1) 3px 13px 13px -3px;
    border-bottom: 3px solid #58585800;
    transition-duration: .13s;
    transition-delay: 0.05s;
}
.protyle-wysiwyg [data-node-id][fold="1"][data-subtype="math"]:not(.li):not([data-type=NodeHeading]):hover {
    border-bottom: 3px solid #58585858;
    transition-duration: .58s;
    transition-delay: 0.05s;
}