/* .protyle-wysiwyg [data-node-id].li:not(.protyle-task--done)>[data-node-id]:before {
    content: "";
    position: absolute;
    height: calc(100% + 4px);
    border-left: 3.1px dotted #444477cc;
    top: 4px;
    opacity: 0.31;
    transition: all 0.31s;
}
.protyle-wysiwyg [data-node-id].li:not(.protyle-task--done)>[data-node-id]:hover:before {
    opacity: 0.58;
} */
.protyle-wysiwyg [data-node-id].li:before {
    content: "";
    position: absolute;
    height: calc(100% - 35px);
    border-left: 1.3px dashed var(--b3-theme-background-light);
    top: 35px;
    left: 17px;
}

.protyle-wysiwyg .list:hover [data-node-id].li:before {
    border-left-color: var(--b3-scroll-color);
}