/* https://www.zhangxinxu.com/wordpress/2021/05/css-html-hr/ */
.protyle-wysiwyg [data-node-id].hr > div {
    visibility: hidden;
}

/* 普通虚线 */
/* .protyle-wysiwyg [data-node-id].hr {
    border: 0;
    border-top: 2px dashed #58588858;
} */

/* 双实线 */
/* .protyle-wysiwyg [data-node-id].hr {
    border: 0;
    border-top: 6px double #58588858;
} */

/* 两头虚的分隔线 */
.protyle-wysiwyg [data-node-id].hr {
    border: 0;
    padding-top: 1px;
    background: var(--SCC-Component-HR-LG1);
}