/* 行内元氏 */

/* 搜索击中高亮应显著区分于文本背景色 */
.b3-list span:not(:has(svg)) mark,
.protyle-wysiwyg [data-node-id] span[data-type=search-mark] {
    /* background-color: var(--SCC-Blue-HellisePotter); */
    /* color: var(--SCC-Yellow-HellisePotter-light) !important; */
    font-size: max(107%, 10pt);
    font-weight: 300;
    line-height: 1.4;
    padding: 1px 2px;
    margin: 0 1px;
    border-radius: 8px 9px 9px 2px;
}


/* 普通标签tag样式 */
.protyle-wysiwyg [data-node-id]:not([data-type="NodeHeading"]) span[data-type~=tag] {
    background-color: var(--b3-theme-primary-lightest);
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: var(--text-focus);
    border-radius: 5px;
    position: relative;
    padding: .13rem .5rem .13rem .2rem;
    font-size: 85%;
    box-shadow: var(--SCColor) 3.6em 0px 0px -2.2em inset;
    border-right: 1px outset;
    margin: .2rem;
}

/* 普通标签tag样式的前缀部分 */
.protyle-wysiwyg [data-node-id]:not([data-type="NodeHeading"]) span[data-type~=tag]::before {
    content: "#";
    color: var(--SCC-White);
    display: inline-block;
    margin-right: .2rem;
    padding: .2rem .5rem .2rem .1rem;
}

/* 标题中标签tag样式在 Block-NodeHeading.css 中定义 */


/* 删除线 */
.b3-typography s,
.b3-typography span[data-type=s],
.protyle-wysiwyg s,
.protyle-wysiwyg span[data-type=s] {
    text-decoration-color: var(--SCC-Red-WPS-lighter);
}


/* kbd 按键的样式，不匹配与其他样式叠加的span（确保显示效果） */
.b3-typography kbd,
.b3-typography span[data-type~=kbd],
.protyle-wysiwyg kbd,
.protyle-wysiwyg span[data-type~=kbd] {
    border-radius: var(--SCC-Component-Inline-kbd-border-radius);
    color: var(--SCC-Component-Inline-kbd-color);
    background-color: var(--SCC-Component-Inline-kbd-bg-color);
    vertical-align: 2px;
    box-shadow: var(--SCC-Component-Inline-kbd-box-shadow);
    border: 0px solid;
    margin-right: 2px;
    line-height: 2;
    font-family: var(--b3-font-family);
}

/* 行内代码样式，不匹配与其他样式叠加的span（确保显示效果） */
span[data-type=code] {
    border-radius: 6px;
    color: var(--SCC-White);
    background-color: var(--SCC-primary-light) !important;
    vertical-align: 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 3px 2px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 0px solid;
    margin: 3px !important;
    font-family: var(--b3-font-family-code);
}

span[data-type=code]::before,
span[data-type=code]::after {
    content: "-";
    font-size: 0;
    opacity: .58;
    color: var(--SCC-White-lighter);
}

:focus span[data-type=code]::before {
    content: var(--SCC-Variables-Block-Inline-span__code__before-content);
    display: inline-block;
    margin-right: .3rem;
    font-size: 100%;
    transition: all .31s ease-in-out .58s;
}

:focus span[data-type=code]::after {
    content: var(--SCC-Variables-Block-Inline-span__code__after-content);
    display: inline-block;
    margin-left: .3rem;
    font-size: 100%;
    transition: all .37s ease-in-out .82s;
}

/* 行内公式增加左右边距 #222 */
.b3-typography .katex,
.protyle-wysiwyg .katex {
    font-size: 113%;
    line-height: normal;
    margin: 0 3px 0 3px;
}

/* 空文档提醒样式 #304 */
.protyle-wysiwyg.protyle-wysiwyg--attr:empty::after,
.protyle-wysiwyg.protyle-wysiwyg--attr:not(:has(>div:nth-child(2)))>div>div[contenteditable="true"]:empty::after {
    content: "键入文字或者 '/' 选择";
    color: #85858585;
    opacity: .85;
    letter-spacing: .13px;
    padding-left: 1.86pt;
}


.protyle-wysiwyg.protyle-wysiwyg--attr div[contenteditable="true"]:empty::after {
    content: "ヾ(￣▽￣)Bye~Bye~";
    color: #85858585;
    opacity: 0;
    font-size: 80%;
    transition: opacity 1s ease-in-out .31s;
}

/* 超级块空段落子块提示 #306 */
.protyle-wysiwyg.protyle-wysiwyg--attr:focus-within div[data-type="NodeSuperBlock"]:hover .p div[contenteditable="true"]:empty::after {
    content: ":empty";
    color: #85858585;
    letter-spacing: .31px;
    font-size: 80%;
    padding-left: 1.86pt;
    opacity: 0.8;
    transition: opacity 1s ease .58s;
}