/* 代码块样式 */

.code-block {
  border-radius: 3px !important;
  background-color: transparent;
  margin-left: 4px !important;
  padding-top: 32px !important;
}

body:not(.body--mobile) .b3-typography .code-block,
body:not(.body--mobile) .protyle-wysiwyg .code-block {
  position: relative;
  padding-left: 13px;
  margin-top: 0.58em;
  margin-right: 31px;
  margin-bottom: 1em;
  background-color: var(--SCC-Component-CodeBlock-bg-color);
  border-top: 5.8px ridge #58585858;
  transition: all 0.58s ease;
}

/* 代码块主体部分设置 */
.protyle-reset .hljs,
.protyle-wysiwyg .hljs,
.b3-typography .hljs {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 16px;
  font-family: var(--b3-font-family-code);
  background-size: 20px 20px;
  background-image: none !important;
  background: transparent !important;
  border-top-right-radius: 4px;
}
/*  代码块行数 */
.protyle-linenumber__rows {
  margin-top: 32px !important;
  padding: 4px;
  width: 3.1em;
  background-color: transparent !important;
  margin-bottom: 0px;
  font-family: var(--b3-font-family-code);
  border-top-left-radius: 4px;
}
.protyle-linenumber {
  margin-left: 1.86em;
  position: relative;
}

.protyle-linenumber__rows span::before {
  color: rgba(128, 128, 128, 0.5);
}

/* 代码块的语言代码 */
.code-block .protyle-action .protyle-action__language {
  margin-top: 0px;
  position: absolute;
  left: 3px;
  border-radius: 1px;
  font-family: var(--b3-font-family-code);
}

/* .code-block .protyle-action .protyle-action__language::before {
  content: "lang::";
  font-family: var(--b3-font-family-code);
  color: var(--SCC-baseComponent-CodeBlock-ab-color);
  top: 2px;
  bottom: 1px;
} */

.code-block .protyle-action .protyle-action__language::after {
  content: "🎨";
  font-family: var(--b3-font-family-code);
  color: var(--SCColor);
  opacity: 0;
}
.code-block:hover .protyle-action .protyle-action__language::after {
  opacity: 1;
}

code.hljs {
  border: 1px solid var(--b3-border-color1);
}


@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}


body:not(.body--mobile) .b3-typography .code-block:hover,
body:not(.body--mobile) .protyle-wysiwyg .code-block:hover {
  background-color: var(--SCC-Component-CodeBlock-bg-color-hover);
  border-top: 5.8px ridge #58585831;
  border-radius: 13px !important;
}
body:not(.body--mobile) .b3-typography .code-block:hover:after,
body:not(.body--mobile) .protyle-wysiwyg .code-block:hover:after {
  animation: stripe-slide 12s infinite linear forwards;
}


/* 代码块顶部添加风格元素 */
body:not(.body--mobile) .code-block:after {
  content: "</>";
  color: var(--SCC-baseComponent-CodeBlock-ab-color);
  position: absolute;
  top: 1px;
  opacity: .31;
}
body:not(.body--mobile) .code-block:hover:after {
  opacity: 1;
}


/* 代码块顶部添加风格元素 ，适配移动端*/
body.body--mobile .code-block::after {
  content: " ";
  position: absolute;
  background: #ff0000;
  box-shadow: 13px 0 #0070c0, 26px 0 #ff3399, 39px 0 #912997;
  border-radius: var(--b3-border-radius-round);
  top: 10px;
  left: 1px;
  height: 3px;
  width: 13px;
  z-index: 1;
}
/* 代码块行号，适配移动端 */
body.body--mobile .protyle-linenumber__rows {
  padding: 22px 4px;
  width: 1.3em;
}
body.body--mobile .protyle-linenumber {
  margin-left: 1.3em;
}

/* 代码块语言选择弹出层分列显示 #175 */
.b3-list.fn__flex-1.b3-list--background:not(ul.b3-list.b3-list--background.fn__flex-1, div#globalSearchList) {
  column-count: 3;
  column-gap: 3px;
  column-rule: 1px solid var(--SCC-Cyan-186-lighter) !important;
  font-size: 90%;
  opacity: 0.8;
}
.b3-list.fn__flex-1.b3-list--background:not(ul.b3-list.b3-list--background.fn__flex-1, div#globalSearchList)
  > div {
  border-bottom: 1px solid;
}
.b3-list.fn__flex-1.b3-list--background:not(ul.b3-list.b3-list--background.fn__flex-1, div#globalSearchList)
  > div:hover {
  color: var(--b3-theme-primary);
}


/* 复制和设置按钮样式 */
.code-block .protyle-action .protyle-icon,
.code-block .protyle-action .protyle-action__language,
.code-block .protyle-action .protyle-icon,
.code-block .protyle-action .protyle-action__language {
  opacity: 1 !important;
  background-color: transparent !important;
}

.code-block .protyle-action .protyle-icon svg,
.code-block .protyle-action .protyle-action__language svg,
.code-block .protyle-action .protyle-icon svg,
.code-block .protyle-action .protyle-action__language svg {
  color: var(--SCColor);
  opacity: 0;
}
.code-block:hover .protyle-action .protyle-icon svg,
.code-block:hover .protyle-action .protyle-action__language svg,
.code-block:hover .protyle-action .protyle-icon svg,
.code-block:hover .protyle-action .protyle-action__language svg {
  color: var(--SCColor);
  opacity: 1;
}
/* 悬停展示边框 */
.b3-typography .code-block,
.protyle-wysiwyg .code-block:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.b3-typography .code-block .protyle-action,
.protyle-wysiwyg .code-block .protyle-action {
  left: 4px;
  top: 8px;
  display: flex;
  z-index: 1;
  position: absolute;
  right: 4px;
}

/* 折叠态提醒 */
.protyle-wysiwyg
  [data-node-id][fold="1"][data-type="NodeCodeBlock"]:not(.li):not([data-type="NodeHeading"]) {
  box-shadow: rgba(17, 17, 26, 0.1) 3px 13px 13px -3px;
  border-bottom: 3px solid #58585800;
  transition-duration: 0.31s;
}