/* 代码块样式 */

.code-block {
  border-radius: 7px !important;
  background-color: transparent !important;
  border: 0.1em solid var(--b3-border-color) !important;
  margin-left: 4px !important;
}
/* 代码块主体部分设置 */
.protyle-reset .hljs,
.protyle-wysiwyg .hljs,
.b3-typography .hljs {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 16px;
  font-family: var(--b3-font-family-code);
  background-size: 20px 20px;
  background-image: none !important;
  background: transparent !important;
  border-top-right-radius: 4px;
}
/*  代码块行数 */
.protyle-linenumber__rows {
  margin-top: 32px !important;
  padding: 4px;
  width: 3.1em;
  background-color: transparent !important;
  margin-bottom: 0px;
  font-family: var(--b3-font-family-code);
  border-top-left-radius: 4px;
}
.protyle-linenumber {
  margin-left: 1.86em;
  position: relative;
}

/* 代码块上方部分设置 */
.code-block {
  position: relative;
  display: block;
  border-radius: 1px;
  padding-top: 32px !important;
}

.protyle-linenumber__rows span::before {
  color: rgba(128, 128, 128, 0.5);
}

/* 代码块的语言代码 */
.code-block .protyle-action .protyle-action__language {
  margin-top: 0px;
  position: absolute;
  right: 6em;
  border-radius: 1px;
  font-family: var(--b3-font-family-code);
}

.code-block .protyle-action .protyle-action__language::before {
  content: "lang::";
  font-family: var(--b3-font-family-code);
  color: var(--SCC-primary-lighter);
}

.code-block .protyle-action .protyle-action__language::after {
  content: "›";
  font-family: var(--b3-font-family-code);
  color: var(--SCColor);
  opacity: 0;
}
.code-block:hover .protyle-action .protyle-action__language::after {
  content: "›";
  font-family: var(--b3-font-family-code);
  color: var(--SCColor);
  opacity: 1;
}

code.hljs {
  border: 1px solid var(--b3-border-color1);
}

/* 复制和设置按钮样式 */
.code-block .protyle-action .protyle-icon,
.code-block .protyle-action .protyle-action__language,
.code-block .protyle-action .protyle-icon,
.code-block .protyle-action .protyle-action__language {
  opacity: 1 !important;
  background-color: transparent !important;
}

.code-block .protyle-action .protyle-icon svg,
.code-block .protyle-action .protyle-action__language svg,
.code-block .protyle-action .protyle-icon svg,
.code-block .protyle-action .protyle-action__language svg {
  color: var(--SCColor);
  opacity: 0;
}
.code-block:hover .protyle-action .protyle-icon svg,
.code-block:hover .protyle-action .protyle-action__language svg,
.code-block:hover .protyle-action .protyle-icon svg,
.code-block:hover .protyle-action .protyle-action__language svg {
  color: var(--SCColor);
  opacity: 1;
}
/* 悬停展示边框 */
.b3-typography .code-block,
.protyle-wysiwyg .code-block:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.b3-typography .code-block .protyle-action,
.protyle-wysiwyg .code-block .protyle-action {
  left: 4px;
  top: 8px;
  display: flex;
  z-index: 1;
  position: absolute;
  right: 4px;
}

@media screen and (min-width: 960px) {
  /* 代码块顶部添加风格元素 */
  .code-block::after {
    content: " ";
    position: absolute;
    background-color: red; /* 不支持线性的时候显示 */
    background-image: linear-gradient(#ff0000, #0070c0, #ff3399, #912997);
    top: 22px;
    left: 1.3px;
    bottom: 1px;
    height: calc(100% - 23px);
    width: 1.86px;
    z-index: 1;
    opacity: 0.13;
  }
  .b3-typography .code-block,
  .protyle-wysiwyg .code-block {
    position: relative;
    padding-left: 13px;
    margin-top: 0.58em;
    margin-right: 31px;
    margin-bottom: 1em;
    margin-left: 13px;
  }
}
@media screen and (max-width: 960px) {
  /* 代码块顶部添加风格元素 ，适配手机端*/
  .code-block::after {
    content: " ";
    position: absolute;
    background: #ff0000;
    box-shadow: 13px 0 #0070c0, 26px 0 #ff3399, 39px 0 #912997;
    border-radius: var(--b3-border-radius-round);
    top: 10px;
    left: 1px;
    height: 3px;
    width: 13px;
    z-index: 1;
  }
  /* 代码块行号，适配手机端 */
  .protyle-linenumber__rows {
    padding: 22px 4px;
    width: 1.3em;
  }
  .protyle-linenumber {
    margin-left: 1.3em;
  }
}
