/* 文档标题样式 */
.protyle-title__input {
  background-color: transparent;
  line-height: 1.3 !important;
}

/* 设置标题左边icon的样式 */
.protyle-title__icon {
  top: 1em;
}

.protyle-title span svg {
  width: 1.5em;
  height: 1.5em;
  /* color: #80808080; */
}

/* H1-H6 标题样式 */
/* 给标题设置统一的颜色，单独调整各级标题中的标签样式 */

/* 各级标题内标签样式共用的不变的属性 */
.protyle-wysiwyg
  [data-node-id][data-type="NodeHeading"]
  span[data-type~="tag"] {
  background-color: var(--SCC-White-light);
  color: var(--text-focus);
  padding: 0.1rem 0.3rem 0.1rem 0.13rem;
  font-size: 80%;
  box-shadow: var(--SCColor) 3.6em 0px 0px -2.2em inset, 0px 0px 0px 1px inset;
  border: none;
  margin: 0.2rem;
}
.protyle-wysiwyg
  [data-node-id][data-type="NodeHeading"]
  span[data-type~="tag"]::before {
  content: "#";
  color: var(--SCC-White);
  display: inline-block;
}

/* 一级标题 */
.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
  text-align: center;
  font-size: 1.86em !important;
  font-weight: 520;
  letter-spacing: .31px;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  margin-top: 58px;
  color: var(--b3-font-color1) !important;
  border-bottom: 5.8px double;
}
.protyle-wysiwyg [data-node-id].h1 span[data-type~="tag"] {
  border-radius: 0.33rem;
}
.protyle-wysiwyg [data-node-id].h1 span[data-type~="tag"]::before {
  margin-right: 0.33rem;
  padding-left: 0.31rem;
  padding-right: 0.33rem;
}

/* 二级标题 */
.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
  font-size: 1.58em !important;
  font-weight: 520;
  position: relative;
  z-index: 0;
  margin-top: 30px;
  color: var(--b3-font-color2);
  border-left: 5.8px solid var(--SCC-Pink-Firole-lightest);
}
.protyle-wysiwyg [data-node-id].h2 span[data-type~="tag"] {
  border-radius: 0.31rem;
}
.protyle-wysiwyg [data-node-id].h2 span[data-type~="tag"]::before {
  margin-right: 0.22rem;
  padding-left: 0.31rem;
  padding-right: 0.38rem;
}

/* 三级标题 */
.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
  font-size: 1.38em !important;
  font-weight: 520;
  position: relative;
  z-index: 0;
  margin-top: 24px;
  color: var(--b3-font-color3);
  border-left: 5.8px solid var(--SCC-Purple-186-lightest);
}
.protyle-wysiwyg [data-node-id].h3 span[data-type~="tag"] {
  border-radius: 0.31rem;
}
.protyle-wysiwyg [data-node-id].h3 span[data-type~="tag"]::before {
  margin-right: 0.13rem;
  padding-left: 0.31rem;
  padding-right: 0.38rem;
}

/* 四级标题 */
.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
  font-size: 1.31em !important;
  font-weight: 490;
  position: relative;
  z-index: 0;
  margin-top: 18px;
  color: var(--b3-font-color4);
  border-left: 5.8px solid var(--SCC-Blue-186-lightest);
}
.protyle-wysiwyg [data-node-id].h4 span[data-type~="tag"] {
  border-radius: 0.31rem;
}
.protyle-wysiwyg [data-node-id].h4 span[data-type~="tag"]::before {
  margin-right: 0.05rem;
  padding-left: 0.31rem;
  padding-right: 0.38rem;
}

/* 五级标题 */
.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
  font-size: 1.13em !important;
  font-weight: 460;
  position: relative;
  z-index: 0;
  margin-top: 12px;
  color: var(--b3-font-color5);
  border-left: 5.8px solid #58585888;
}
.protyle-wysiwyg [data-node-id].h5 span[data-type~="tag"] {
  border-radius: 0.31rem;
}
.protyle-wysiwyg [data-node-id].h5 span[data-type~="tag"]::before {
  margin-right: 0.05rem;
  padding-left: 0.31rem;
  padding-right: 0.38rem;
}

/* 六级标题 */
.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
  font-size: 1em !important;
  font-weight: 430;
  position: relative;
  z-index: 0;
  margin-top: 6px;
  color: var(--b3-font-color6);
  border-left: 5.8px solid #58585858;
}
.protyle-wysiwyg [data-node-id].h6 span[data-type~="tag"] {
  border-radius: 0.31rem;
}
.protyle-wysiwyg [data-node-id].h6 span[data-type~="tag"]::before {
  margin-right: 0.05rem;
  padding-left: 0.31rem;
  padding-right: 0.38rem;
}

/* 设置6级标题高度 */
.protyle-wysiwyg [data-node-id].h5 {
  line-height: 28px;
}

.protyle-wysiwyg [data-node-id].h6 {
  line-height: 26px;
}

/* 标题悬浮时前面显示H1-H6编号 */
/* 设置统一的样式 */
.protyle-wysiwyg [data-node-id][data-type="NodeHeading"]::after {
  position: absolute;
  font-size: 1.13em;
  top: -0.82em;
  color: #55555a4d;
}

.protyle-wysiwyg [data-node-id].h1::after {
  content: "";
  font-size: 1.86em;
  top: -1.11em;
}

/* .protyle-wysiwyg [data-node-id].h2::after {
  content: "";
  font-size: 1.31em;
  top: -0.86em;
} */
.protyle-wysiwyg [data-node-id].h2::after,
.protyle-wysiwyg [data-node-id].h3::after,
.protyle-wysiwyg [data-node-id].h4::after,
.protyle-wysiwyg [data-node-id].h5::after,
.protyle-wysiwyg [data-node-id].h6::after {
  display: none;
  content: "";
  background-color: #55555a4d;
  border-radius: 3px;
  float: left;
  left: -1.13em;
  margin-left:5px;
}
.protyle-wysiwyg [data-node-id].h2:hover::after,
.protyle-wysiwyg [data-node-id].h3:hover::after,
.protyle-wysiwyg [data-node-id].h4:hover::after,
.protyle-wysiwyg [data-node-id].h5:hover::after,
.protyle-wysiwyg [data-node-id].h6:hover::after {
  display: unset;
}
.protyle-wysiwyg [data-node-id].h2:hover,
.protyle-wysiwyg [data-node-id].h3:hover,
.protyle-wysiwyg [data-node-id].h4:hover,
.protyle-wysiwyg [data-node-id].h5:hover,
.protyle-wysiwyg [data-node-id].h6:hover {
  border-left: 1.31em solid transparent;
}
.protyle-wysiwyg [data-node-id].h2::after {
  box-shadow: 0.25em 0.25em 0 0 #55555a4d;
  height: 0.18em;
  width: 0.18em;
  top: 0.58em;
}
.protyle-wysiwyg [data-node-id].h3::after {
  box-shadow: 0.25em 0.25em 0 0 #55555a4d, 0 0.25em 0 0 #55555a4d;
  height: 0.16em;
  width: 0.16em;
  top: 0.53em;
}

.protyle-wysiwyg [data-node-id].h4::after {
  height: 0.15em;
  width: 0.15em;
  top: 0.55em;
  box-shadow: 0.25em 0.25em 0 0 #55555a4d, 0 0.25em 0 0 #55555a4d,
    0.25em 0 0 0 #55555a4d;
}

.protyle-wysiwyg [data-node-id].h5::after {
  height: 0.15em;
  width: 0.15em;
  top: 0.77em;
  box-shadow: 0.25em 0.25em 0 0 #55555a4d, 0 0.25em 0 0 #55555a4d,
    0.25em 0 0 0 #55555a4d, 0 -0.25em 0 0 #55555a4d;
}

.protyle-wysiwyg [data-node-id].h6::after {
  height: 0.15em;
  width: 0.15em;
  top: 0.86em;
  box-shadow: 0.25em 0.25em 0 0 #55555a4d, 0 0.25em 0 0 #55555a4d,
    0.25em 0 0 0 #55555a4d, 0 -0.25em 0 0 #55555a4d,
    0.25em -0.25em 0 0 #55555a4d;
}

/* 带有背景样式的标题中不显示 */
div[data-type="NodeHeading"][style*="background-color"]::after,
div[style*="background-color"] div[data-type="NodeHeading"]::after {
  display: none;
}

/* 折叠后不显示*/
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading]:before,
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:after {
  display: none !important;
}

/* 默认折叠动效 */
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"] {
  transition-duration: 0.31s;
}
/* 默认展开动效 */
.protyle-wysiwyg [data-type="NodeHeading"] {
  transition-duration: 0.58s;
}

/* 折叠标题文字立体感增强 */
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"] * {
  opacity: .7 !important;
  text-shadow: 0.02em -0.31px 0.05em #13133193;
  transition-delay: .31s !important;
}
/* 多级折叠标题共用的:hover样式 */
.protyle-wysiwyg
  div[fold="1"][data-type="NodeHeading"]:not([class~=protyle-wysiwyg--select]):focus-within > div{
  /* border: 1.31px solid var(--b3-theme-background) !important; */
  animation: letter-spacing-head .31s ease-in-out .58s;
  animation-fill-mode: both;
}
/* 透明border占位，避免抖动 */
/* .protyle-wysiwyg
  div[fold="1"][data-type="NodeHeading"][class~=protyle-wysiwyg--select]:not([data-node-id].h6):hover {
  border: 5px outset transparent !important;
} */
/* 添加动效延时，避免抖动 */
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:not([data-node-id].h6):hover,
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:not([data-node-id].h6) {
    transition-delay: .31s !important;
}

/* 多级折叠标题阴影 */
@media screen and (min-width: 960px) {
  .protyle-wysiwyg div[fold="1"][data-node-id].h5:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component-Heading-folded-box-shadow-h5);
    /* border: 5px inset var(--SCC-Gray-Soledar-light) !important; */
    border-radius: 12px;
  }
  .protyle-wysiwyg div[fold="1"][data-node-id].h4:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component-Heading-folded-box-shadow-h4);
    /* border: 5px inset var(--SCC-Gray-Soledar-light) !important; */
    border-radius: 12px;
  }
  .protyle-wysiwyg div[fold="1"][data-node-id].h3:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component-Heading-folded-box-shadow-h3);
    /* border: 5px inset var(--SCC-Gray-Soledar-light) !important; */
    border-radius: 12px;
  }
  .protyle-wysiwyg div[fold="1"][data-node-id].h2:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component-Heading-folded-box-shadow-h2);
    /* border: 5px inset var(--SCC-Gray-Soledar-light) !important; */
    border-radius: 12px;
  }
  .protyle-wysiwyg div[fold="1"][data-node-id].h1:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component-Heading-folded-box-shadow-h1);
    border-top: 5px ridge var(--b3-theme-background) !important;
    border-radius: 12px;
  }
}
@media screen and (max-width: 960px) {
  .protyle-wysiwyg div[fold="1"][data-node-id].h5:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component__Phone-Heading-folded-box-shadow-h5);
    /* border: 5px inset var(--SCC-Gray-Soledar-light) !important; */
    border-radius: 12px;
  }
  .protyle-wysiwyg div[fold="1"][data-node-id].h4:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component__Phone-Heading-folded-box-shadow-h4);
    /* border: 5px inset var(--SCC-Gray-Soledar-light) !important; */
    border-radius: 12px;
  }
  .protyle-wysiwyg div[fold="1"][data-node-id].h3:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component__Phone-Heading-folded-box-shadow-h3);
    /* border: 5px inset var(--SCC-Gray-Soledar-light) !important; */
    border-radius: 12px;
  }
  .protyle-wysiwyg div[fold="1"][data-node-id].h2:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component__Phone-Heading-folded-box-shadow-h2);
    /* border: 5px inset var(--SCC-Gray-Soledar-light) !important; */
    border-radius: 12px;
  }
  .protyle-wysiwyg div[fold="1"][data-node-id].h1:not([class~=protyle-wysiwyg--select]) {
    background-color: transparent !important;
    box-shadow: var(--SCC-Component__Phone-Heading-folded-box-shadow-h1);
    border: 3px inset var(--SCC-Gray-Soledar-light) !important;
    border-radius: 12px;
  }
}
