/* 代码块样式 */

.code-block {
    border-radius: 7px !important;
    background-color: transparent !important;
    border: 0.1em solid var(--b3-border-color) !important;
    margin-left: 4px !important;
}
/* 代码块主体部分设置 */
.protyle-reset .hljs,
.protyle-wysiwyg .hljs, .b3-typography .hljs {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 16px;
    font-family: var(--b3-font-family-code);
    background-size: 20px 20px;
    background-image: none !important;
    background: transparent !important;
    border-top-right-radius: 4px;
    /* background-color: var(--b3-theme-background2); */
    /* z-index: -1; */
}
/*  代码块行数 */
.protyle-linenumber__rows {
    margin-top: 32px !important;
    padding: 4px;
    background-color: transparent !important;
    margin-bottom: 0px;
    font-family: var(--b3-font-family-code);
    border-top-left-radius: 4px;
}

/* 代码块上方部分设置 */
.protyle-wysiwyg .code-block,
.b3-typography .code-block {
    position: relative;
    display: block;
    border-radius: 1px;
    padding-top: 32px !important;
    /* box-shadow: var(--b3-code-block-shadow); */
}


.protyle-linenumber__rows span::before {
    color: rgba(128, 128, 128, 0.5);
}


/* 代码块的语言代码 */
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    margin-top: 0px;
    position: absolute;
    right: 4em;
    border-radius: 1px;
    opacity: 1 !important;
    font-family: var(--b3-font-family-code);
}
.b3-typography .code-block .protyle-action .protyle-action__language::before,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language::before {
    content: "lang::";
    font-family: var(--b3-font-family-code);
    color: var(--SCC-primary-lighter);
}

.b3-typography .code-block .protyle-action .protyle-action__language::after,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language::after {
    content: "›";
    font-family: var(--b3-font-family-code);
    color: var(--SCColor);
    opacity: 0;
}
.b3-typography .code-block:hover .protyle-action .protyle-action__language::after,
.protyle-wysiwyg .code-block:hover .protyle-action .protyle-action__language::after {
    content: "›";
    font-family: var(--b3-font-family-code);
    color: var(--SCColor);
    opacity: 1;
}

code.hljs {
    border: 1px solid var(--b3-border-color1);
}


/* 复制和设置按钮样式 */
.b3-typography .code-block .protyle-action .protyle-icon,
.b3-typography .code-block .protyle-action .protyle-action__language,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language {
    opacity: 1 !important;
    background-color: transparent !important;
}

.b3-typography .code-block .protyle-action .protyle-icon svg,
.b3-typography .code-block .protyle-action .protyle-action__language svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-icon svg,
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language svg {
    color: var(--SCColor);
    opacity: 0;
}
.b3-typography .code-block:hover .protyle-action .protyle-icon svg,
.b3-typography .code-block:hover .protyle-action .protyle-action__language svg,
.protyle-wysiwyg .code-block:hover .protyle-action .protyle-icon svg,
.protyle-wysiwyg .code-block:hover .protyle-action .protyle-action__language svg {
    color: var(--SCColor);
    opacity: 1;
}
