@import url("./link/web.css");

.b3-typography a::before,
.protyle-wysiwyg [data-node-id] a::before,
.protyle-wysiwyg [data-node-id] span[data-type~=a]:not(:empty)::before {
    margin: 0;
    width: 1em;
    height: 1em;
    padding: 0em 0em;
    display: inline-block;
    position: relative;
    background-repeat: round;
    margin-right: 0.31em;
    top: 0.1em;
    opacity: .58;
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

/* 双链样式 */
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]::before {
    /*前半部分的符号*/
    content: "⁅⁅";
}
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]::after {
    /*后半部分的符号*/
    content: "⁆⁆";
}
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]::before,
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]::after {
    color: var(--b3-theme-secondary);
    font-weight: bold;
    display: inline-block;
    width: 1.31em;
    text-align: center;
    opacity: .58;
}

.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:hover {
    padding-bottom: 5px;
    animation: waveMove .31s infinite cubic-bezier(0.4, 0, 1, 1);
    background: var(--custom-span-ref-animation-icon) repeat-x 0 58%;
    background-size: 16px auto;
}

/* 虚拟引用样式 #184 */
.protyle-wysiwyg [data-node-id] span[data-type=virtual-block-ref] {
    border-bottom: var(--SCC-Component-Inline-virtual-block-ref-border-bottom);
    transition: none;
}

.protyle-wysiwyg [data-node-id] span[data-type=virtual-block-ref]:hover {
    border-bottom: 1.86px solid var(--b3-theme-primary);
    background-color: var(--SCC-Component-Inline-virtual-block-ref-bg-color-hover);
    transition: none;
}