/* 所有边距初始化 */
* {
    margin: 0px;
    padding: 0px;
}

/* 思源笔记右侧进度滚动条 */
.protyle-scroll .b3-slider {
    opacity: 0;
}

.protyle-scroll .b3-slider:hover {
    opacity: 1;
}

/* 文档树滚动条 */
.fn__flex-1::-webkit-scrollbar-thumb {
    transition: background-color 1s ease !important;
}

.fn__flex-1:hover::-webkit-scrollbar-thumb {
    background-color: var(--b3-scroll-color);
}

/* 修改滚动条宽度 */
::-webkit-scrollbar {
    width: 8px;
}

/* 设置段落两端对齐 */
.protyle-content .p:not(.list .p) {
    text-align: justify;
}

/* 块添加圆角 */
.protyle-wysiwyg [data-node-id] {
    border-radius: 1px;
}




/* 块标提示不被窗口线遮挡 */
.protyle-gutters {
    z-index: 3;
}

/* 设置滚动条样式 */
::-webkit-scrollbar-thumb {
    background-color: var(--b3-scroll-color);
    border-radius: 1px;
}



/* 去掉软件的边框线 */
body.body--win32 {
    border: none !important;
}

/* 表单设置不能拖拽缩放 */
textarea.b3-text-field.fn__flex-1 {
    border: 1px solid transparent;
    resize: none;
}

