/* 安卓端隐藏开发者工具菜单项 #253 */
body.android #barDebug {
    opacity: 0;
    line-height: 13px;
}

body:not(.android) #barHelp > div >button {
    line-height: 44px;
}

.dock__item--activefocus {
    color: #fff !important;
    background-color: var(--b3-theme-primary-lighter) !important;
}

body:not(.android) #barDock>div.b3-menu>.b3-menu__item {
    padding: 8px 16px 3px 8px;
}

#barDock>div.b3-menu>.b3-menu__item .b3-menu__label {
    letter-spacing: .58px;
    font-size: 120%;
    line-height: 2.5;
    opacity: .6;
    height: 100%;
}

body.android #barDock>div.b3-menu {
    margin-left: 3vw;
    margin-bottom: 2vh;
}

body.android #barDock>div.b3-menu>.b3-menu__item {
    padding: 8px 16px 3px 8px;
    margin: 3px 1px 3px 1px;
}

body.android #barDock>div.b3-menu>.b3-menu__item .b3-menu__label {
    letter-spacing: .58px;
    font-size: 120%;
    line-height: 2.5;
    opacity: .8;
}