.b3-list-item__toggle--hl:hover {
  color: var(--b3-theme-on-background);
  background-color: transparent !important;
  border-radius: 2px;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background {
  border-radius: 1.8px;
  margin-left: 5.8px;
  border-bottom: 1.86px inset;
  background-color: transparent;
  transition-duration: .31s;
  outline: 1.3px ridge transparent;
  border-image: var(--SCC-baseComponent-file__tree-UL-border-image);
}

.fn__flex-1.fn__flex-column.file-tree.sy__file:hover ul.b3-list.b3-list--background {
  margin-left: 5.8px;
  margin-right: 3px;
  outline: 1.3px ridge var(--b3-scroll-color);
  background-color: var(--b3-theme-surface);
  transition-duration: .31s;
}


.fn__flex-1.fn__flex-column.file-tree.sy__file ul .b3-list-item {
  margin: 0 3px 0px 0px !important;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background:has(ul)>li .b3-list-item__text {
  color: var(--b3-theme-primary);
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul>li .b3-list-item__icon {
  font-size: 18px;
  margin-right: 3px;
  padding: 0px;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul>ul>li .b3-list-item__icon {
  font-size: 18px;
  margin-right: 1px;
  padding: 0px;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul>ul>li {
  line-height: 23px;
  padding: 1px 0px;
  background-color: #ffffff11;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul>ul>li .b3-list-item__toggle {
  padding: 0 4px 0 0;
}


/* 已知缺陷：需要展开的列表过长时双击打开正常，点击 toggle 引发高度改变事件引发父容器滚动 */
/* .fn__flex-1.fn__flex-column.file-tree.sy__file ul > ul {
  max-height: 70vh;
  overflow-y: scroll;
  overscroll-behavior: none;
} */

.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background>li {
  position: sticky;
  top: 0px;
  background-color: transparent;
  z-index: 2;
  /* 高于子容器就可以了，太高会显示在弹出层上面 */
  padding-bottom: 1px;
  transition: padding-bottom 0.2s ease-out;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background:has(ul)>li {
  background-color: var(--b3-theme-surface) !important;
  padding-bottom: 10px !important;
}

/* 侧边栏引用计数 */
/* .counter {
  color: var(--SCC-Red-WPS);
  background-color: var(--SCC-Purple-186-lightest);
  border-radius: 13px;
} */

.counter {
  color: #fff;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  background-color: var(--SCC-Component-Counter-bg-color);
  border-radius: 5.8px;
  border: var(--SCC-Component-Counter-border);
  opacity: 0.58;
  backdrop-filter: brightness(0.58);
}

.b3-list-item .counter:hover {
  color: #fff !important;
  background-color: var(--SCC-Red-WPS) !important;
}

/* 反链面板左侧引用计数 */
.block__icons .counter {
  background-color: var(--SCC-Component-Counter-bg-color);
  border: var(--SCC-Component-Counter-border);
  opacity: 0.58;
  backdrop-filter: brightness(0.58);
}

/* 文档内引用计数 */
.protyle-attr--refcount {
  right: 0px;
  top: 0px;
  position: absolute;
  line-height: 16px;
  padding: 0 4px;
  margin-top: 0px;
  margin-right: 0px;
  color: #fff;
  border-radius: 13px;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  height: 16px;
  background-color: var(--SCC-Component-Counter-bg-color);
  border: var(--SCC-Component-Counter-border);
  opacity: 0.58;
  backdrop-filter: brightness(0.58);
}

.b3-list-item__arrow {
  color: var(--SCC-baseComponent-Icon-arrow-color-1);
  padding: 5px;
  margin: 0 -5px 0 5px;
  border-radius: 3px;
}

body:not(.android) .block__logo {
  opacity: .31;
}

li[data-name="Untitled.sy"]>span.b3-list-item__text {
  opacity: var(--SCC-Variables-MI-DocTree-Untitle-opacity, 0);
}

/* 笔记本名文字 */
.fn__flex-1.fn__flex-column.file-tree.sy__file ul>li .b3-list-item__text {
  color: var(--SCC-baseComponent-text-color-2);
  font-size: var(--SCC-Variables-MI-DocTree-nbFontsize, 10pt);
  transition: color 0.2s cubic-bezier(0.47, 0, 0.75, 0.72) .1s;
}

/* 文档名文字 */
.fn__flex-1.fn__flex-column.file-tree.sy__file ul>ul>li .b3-list-item__text {
  color: var(--SCC-baseComponent-text-color-1);
  font-size: var(--SCC-Variables-MI-DocTree-docFontsize, 9pt);
  letter-spacing: 0.1px;
  transition: all .31s ease .1s;

}

/* 支持通过主题设置界面调整笔记本间距 #380 */
.fn__flex-1.fn__flex-column.file-tree.sy__file .fn__flex-1:not(:has(>ul:nth-child(58)))>ul {
  margin-top: var(--SCC-Variables-MI-DocTree-nbMargin, 0.00em);
  margin-bottom: var(--SCC-Variables-MI-DocTree-nbMargin, 0.00em);
  padding-top: calc(var(--SCC-Variables-MI-DocTree-nbMargin, 0.00em)*0.5);
  padding-bottom: calc(var(--SCC-Variables-MI-DocTree-nbMargin, 0.00em)*0.5);
}