/* 将当前打开文档面包屑设置为毛玻璃效果 */
/* 面包屑毛玻璃导致思源v2.4.6块滚动条无法跟随滚动 #154 */

/* 聚焦模式不隐藏面包屑 */
#layouts .layout__wnd--active .protyle-breadcrumb:not(:has(.protyle-breadcrumb__item:first-child:not(.protyle-breadcrumb__item--active))) {
  /* position: var(--SCC-baseComponent-breadcrumb-position); */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--b3-theme-background-light);
  backdrop-filter: blur(15px);
  z-index: 1;
  font-size: 13px !important;
  width: 100%;
  margin-right: 0;
  opacity: 0.58;
  box-shadow: var(--SCC-baseComponent-breadcrumb-box-shadow);
}

#layouts .layout__wnd--active .protyle-breadcrumb:not(:has(.protyle-breadcrumb__item:first-child:not(.protyle-breadcrumb__item--active))):hover {
  /* position: var(--SCC-baseComponent-breadcrumb-position); */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--b3-theme-background-light);
  backdrop-filter: blur(15px) brightness(0.9);
  z-index: 10;
  font-size: 13px !important;
  width: 100%;
  margin-right: 0;
  opacity: 1;
  box-shadow: var(--SCC-baseComponent-breadcrumb-box-shadow);
  transition-delay: 0.31s;
}

#layouts .layout__wnd--active .protyle-breadcrumb .protyle-breadcrumb__bar .protyle-breadcrumb__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
  line-height: 16px;
  height: 16px;
  border-radius: 4px;
  margin: 3px 0;
  opacity: var(--SCC-baseProperty-Opacity-A);
  color: var(--SCC-baseComponent-breadcrumb__bar-color);
}

/* 依次为 反链面板中【反向链接】、【提及】、嵌入块的面包屑 */
.backlinkList .protyle-breadcrumb__bar,
.backlinkMList .protyle-breadcrumb__bar,
.protyle-wysiwyg__embed .protyle-breadcrumb__bar {
  opacity: 0.31;
}

/* 弹出面板的面包屑 */
.block__popover .protyle-breadcrumb__bar {
  opacity: 0.58;
}

.protyle-breadcrumb__bar:hover,
.protyle-breadcrumb__item:hover,
.protyle-breadcrumb:hover .protyle-breadcrumb__bar,
.protyle-breadcrumb__bar:hover .protyle-breadcrumb__item {
  opacity: 1 !important;
}

/* 依次为 打开的文档、引用悬浮面板 设置上边距避免被遮挡，排除了反链面板 */
#layouts .layout__center div:not(.backlinkList) .protyle-content,
.block__popover.block__popover--move.block__popover--open>div.block__content div.protyle-content {
  float: left;
  /* padding-top: 30px; */
}

.b3-typography,
.protyle-wysiwyg.protyle-wysiwyg--attr {
  container-type: inline-size;
  container-name: doc;
}

/* 设置面包屑中icon大小 */
.protyle-breadcrumb__item svg {
  height: 13px;
  width: 13px;
}


/* 面包屑文字长度自适应 #226 */
.protyle-breadcrumb {
  container-type: inline-size;
  container-name: docBreadrumb;
}

@container docBreadrumb (max-width: 4000px) {
  .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(2)) .protyle-breadcrumb__text {
    max-width: 50cqw;
  }

  .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(3)) .protyle-breadcrumb__text {
    max-width: 30cqw;
  }

  .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(4)) .protyle-breadcrumb__text {
    max-width: 23cqw;
  }

  .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(5)) .protyle-breadcrumb__text {
    max-width: 15cqw;
  }

  .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(6)) .protyle-breadcrumb__text {
    max-width: 10cqw;
  }

  .protyle-breadcrumb__bar:has(.protyle-breadcrumb__item:nth-of-type(7)) .protyle-breadcrumb__text {
    max-width: 8cqw;
  }
}

.protyle-breadcrumb__item {
  max-width: unset;
}

.protyle-gutters button svg {
  color: var(--b3-theme-primary-lighter);
}

.protyle-gutters button:hover svg {
  color: var(--b3-theme-primary);
}

.protyle-wysiwyg.protyle-wysiwyg--attr:has(div:nth-child(100))>div:nth-last-of-type(1):after {
  content: "";
  display: flex;
  position: relative;
  background-image: url('./../src/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  margin-top: 13px;
  margin-left: 48%;
  opacity: .31;
  box-shadow: rgb(0 0 0 / 30%) 3px 4px 8px -3px;
}

/* 支持通过主题配置界面调整段前段后间距、行高、段首缩进、字符间距 #422 */
div.protyle-wysiwyg.protyle-wysiwyg--attr>div.p {
  text-indent: var(--SCC-Variables-MI-Doc-pIndent,0rem);
  line-height: var(--SCC-Variables-MI-Doc-LH,1.5rem);
  margin-top: var(--SCC-Variables-MI-Doc-marginTop,0rem);
  margin-bottom: var(--SCC-Variables-MI-Doc-marginBottom,0rem);
  letter-spacing: var(--SCC-Variables-MI-Doc-lSpacing,0px);
}
