.b3-list-item__toggle--hl:hover {
  color: var(--b3-theme-on-background);
  background-color: transparent !important;
  border-radius: 2px;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background {
  border-radius: 1.8px;
  margin-left: 5.8px;
  margin-right: 3px;
  border-bottom: 1.86px inset;
  background-color: transparent;
  transition-duration: .31s;
  outline: 1.3px ridge transparent;
  border-image: var(--SCC-baseComponent-file__tree-UL-border-image);
}


.fn__flex-1.fn__flex-column.file-tree.sy__file ul .b3-list-item {
  margin: 0 3px 0px 0px !important;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background:has(ul)>li .b3-list-item__text {
  color: var(--b3-theme-primary);
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul>li .b3-list-item__icon {
  font-size: 18px;
  margin-right: 3px;
  padding: 0px;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul>ul>li .b3-list-item__icon {
  font-size: 18px;
  margin-right: 1px;
  padding: 0px;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file>div.fn__flex-1 ul>ul>li {
  line-height: 23px;
  padding: 1px 0px;
  background-color: #ffffff11;
  /* backdrop-filter: brightness(1.02) blur(58px); */
  filter: brightness(0.95);
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul>ul>li .b3-list-item__toggle {
  padding: 0 4px 0 0;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background:has(ul)>li {
  background-color: var(--b3-theme-surface) !important;
  backdrop-filter: blur(7px) brightness(1.31) !important;
  padding-bottom: 10px !important;
}

/* 侧边栏引用计数 */
.counter {
  color: #fff;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  background-color: var(--SCC-Component-Counter-bg-color);
  border-radius: 5.8px;
  border: var(--SCC-Component-Counter-border);
  opacity: 0.58;
  backdrop-filter: brightness(0.58);
}

.b3-list-item .counter:hover {
  color: #fff !important;
  background-color: var(--SCC-Red-WPS) !important;
}

/* 反链面板左侧引用计数 */
.block__icons .counter {
  background-color: var(--SCC-Component-Counter-bg-color);
  border: var(--SCC-Component-Counter-border);
  opacity: 0.58;
  backdrop-filter: brightness(0.58);
}

/* 文档内引用计数 */
.protyle-attr--refcount {
  right: 0px;
  top: 0px;
  position: absolute;
  line-height: 16px;
  padding: 0 4px;
  margin-top: 0px;
  margin-right: 0px;
  color: #fff;
  border-radius: 13px;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  height: 16px;
  text-indent: 0;
  background-color: var(--SCC-Component-Counter-bg-color);
  border: var(--SCC-Component-Counter-border);
  opacity: 0.58;
  backdrop-filter: brightness(0.58);
}

.b3-list-item__arrow {
  color: var(--SCC-baseComponent-Icon-arrow-color-1);
  padding: 5px;
  margin: 0 -5px 0 5px;
  border-radius: 3px;
}

body:not(.android) .block__logo {
  opacity: .31;
}

li[data-name="Untitled.sy"]>span.b3-list-item__text {
  opacity: var(--SCC-Variables-MI-DocTree-Untitle-opacity, 0);
}

/* 笔记本名文字 */
body.body--mobile [data-type="sidebar-file"] ul.b3-list>li .b3-list-item__text,
.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list>li .b3-list-item__text {
  color: var(--SCC-Variables-DyeingName-Notebook);
  font-size: var(--SCC-Variables-MI-DocTree-nbFontsize, 10pt);
  transition: color 0.2s cubic-bezier(0.47, 0, 0.75, 0.72) .1s;
}

/* 文档名文字 */
body.body--mobile [data-type="sidebar-file"] ul>ul>li .b3-list-item__text,
.fn__flex-1.fn__flex-column.file-tree.sy__file ul>ul>li .b3-list-item__text {
  color: var(--SCC-Variables-DyeingName-Doc);
  font-size: var(--SCC-Variables-MI-DocTree-docFontsize, 9pt);
  letter-spacing: 0.1px;
  transition: all .31s ease .1s;

}

/* 支持通过主题设置界面调整笔记本间距 #380 */
.fn__flex-1.fn__flex-column.file-tree.sy__file .fn__flex-1:not(:has(>ul:nth-child(58)))>ul {
  margin-top: var(--SCC-Variables-MI-DocTree-nbMargin, 0.00em);
  margin-bottom: var(--SCC-Variables-MI-DocTree-nbMargin, 0.00em);
  padding-top: calc(var(--SCC-Variables-MI-DocTree-nbMargin, 0.00em)*0.5);
  padding-bottom: calc(var(--SCC-Variables-MI-DocTree-nbMargin, 0.00em)*0.5);
}

/* 支持通过主题设置面板隐藏文档树【更多】图标 #633 */
.file-tree.sy__file .b3-list-item--hide-action:hover>.b3-list-item__action[aria-label="更多"],
.file-tree.sy__file .b3-list-item--hide-action:hover>.b3-list-item__action[aria-label="More"] {
  display: var(--SCC-Variables-MI-DocTree-item-action-more-display, flex) !important;
}