#layouts ul > li[data-treetype="outline"][data-subtype="h1"]:hover > svg { color: var(--b3-font-color1);}
#layouts ul > li[data-treetype="outline"][data-subtype="h2"]:hover > svg { color: var(--b3-font-color2);}
#layouts ul > li[data-treetype="outline"][data-subtype="h3"]:hover > svg { color: var(--b3-font-color3);}
#layouts ul > li[data-treetype="outline"][data-subtype="h4"]:hover > svg { color: var(--b3-font-color4);}
#layouts ul > li[data-treetype="outline"][data-subtype="h5"]:hover > svg { color: var(--b3-font-color5);}
#layouts ul > li[data-treetype="outline"][data-subtype="h6"]:hover > svg { color: var(--b3-font-color6);}
#layouts ul > li[data-treetype="outline"] svg.b3-list-item__graphic.popover__block {padding: 1px; border-bottom: 1px solid; scale: 1.27;}

#layouts ul > li[data-treetype="outline"] .b3-list-item__text {color: var(--SCC-baseComponent-text-color-1); padding-left: 2px; font-size: 95%; letter-spacing: -0.2px;}
#layouts ul > li[data-treetype="outline"][data-subtype="h1"] .b3-list-item__text {color: var(--SCC-baseComponent-text-color-2); font-size: 98%; font-weight: 600;}

.b3-list:not(.b3-list--border):has(li[data-treetype="outline"]) > ul {
    box-shadow: 18.6px 0 var(--b3-theme-background) inset, 19px 0 var(--b3-theme-primary-light) inset;
}
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
    background-color: transparent;
}

#layouts ul > li[data-treetype="outline"] {
    line-height: 24px;
    padding: 0px;
    margin: 0 3px 0 0 !important;
}