/* 所有页签栏通用 */
.layout-tab-bar .item--focus .item__text {
  color: var(--b3-theme-primary) !important;
  opacity: 1 !important;
  text-shadow: -1px 1px 13px var(--SCC-Orange-Windom);
  font-weight: 1314 !important;
}

[data-type="wnd"]>div>.layout-tab-bar .item--focus .item__text {
  text-shadow: var(--SCC-Variables-TabBar_item__textShadow) !important;
}

.layout-tab-bar .item {
  min-height: calc(var(--SCC-Variables-MI-TabBar-MinHeight, 30) * 1px);
  height: 30px;
  font-size: calc(var(--SCC-Variables-MI-TabBar-FontSize, 10) * 1pt);
}