/* 标签页底部背景颜色,标签页数量较少时可以看到，颜色和标签页颜色保持一致 */
.layout-tab-bar.fn__flex,
ul.fn__flex.layout-tab-bar {
  background-color: var(--SCC-Gray-HellisePotter);
}

/* 标签页鼠标悬浮时背景颜色 */
.layout-tab-bar .item:not(.item--readonly):hover {
  background-color: var(--SCC-Blue-Windom_2-lighter);
}

/* 标签页中文字的相关设置 */
.layout-tab-bar .item .item__text {
  width: auto;
  min-width: 3em;
  margin-right: 13px; /* 预留位置给钉住图标 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  display: inline;
  color: var(--SCC-Brown-186-lighter);
}
.layout-tab-bar .item:hover .item__text {
  color: var(--SCC-Brown-186);
}

/* 标签页svg */
.layout-tab-bar .item:not(.item--focus) .item__close svg {
  color: var(--SCC-Purple-Soledar);
}
/* 样式优化 */
.layout-tab-bar.fn__flex,
ul.fn__flex.layout-tab-bar li {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; /* 影响【设置】-【集市】标签页 */
}
ul.layout-tab-bar {
  flex: 1;
  min-width: calc(100% - 106px) !important;
  width: auto;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}
ul.layout-tab-bar li:hover {
  background-color: var(--b3-theme-background);
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}
ul.layout-tab-bar li [title="新建文档"] {
  background-color: var(--b3-theme-background);
  margin-left: 0.31em;
  margin-right: 0;
  width: 26px;
}
ul.layout-tab-bar li [title="更多"] {
  background-color: var(--b3-theme-background);
  margin-left: 0.13em;
  margin-right: 0.13em;
  width: 26px;
}
ul.layout-tab-bar li [title="新建文档"] svg,
ul.layout-tab-bar li [title="更多"] svg {
  color: var(--SCColor) !important;
  scale: 1.86 !important;
}
ul.layout-tab-bar li [title="新建文档"] svg:hover,
ul.layout-tab-bar li [title="更多"] svg:hover {
  color: var(--SCC-Red-Firole) !important;
  scale: 1.13 !important;
}
.item__close svg:hover {
  color: var(--SCC-Red-Firole);
  box-shadow: rgba(85, 91, 255, 0.06) 0px 0px 0px 1px,
    rgba(31, 193, 27, 0.01) 0px 0px 0px 2px,
    rgba(255, 217, 19, 0.2) 0px 0px 0px 3px,
    rgba(255, 156, 85, 0.3) 0px 0px 0px 4px,
    rgba(255, 85, 85, 0.1) 0px 0px 0px 5px;
}
#layouts
  > div.fn__flex.fn__flex-1
  > div.layout__center.fn__flex.fn__flex-1
  > div
  > div
  > div.layout-tab-container.fn__flex-1
  > div.fn__flex-1.protyle
  > div.protyle-breadcrumb
  > button {
  background-color: transparent !important;
}
li.item.item--readonly .item__close[title="新建文档"] + span.fn__flex-1 {
  display: none;
}

/* 使用 li.item 而不是 .item ，避免修改影响【设置】-【集市】的标签页 */
/* 非当前页签样式 */
.layout-tab-bar li.item:not(:last-child).item:not(.item--focus),
.layout-tab-bar li.item:last-child:not(.item--focus):not(.item--readonly) {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 3px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
  border-radius: 6px !important;
  border-bottom: 0px inset transparent !important;
  margin-bottom: 3px !important;
  max-width: 186px !important;
  min-width: 58px !important;
  transition-duration: 1.58s;
  font-weight: 520 !important;
  margin-right: 5.8px !important;
  margin-left: 5.8px !important;
}
/* 设置当前标签页样式 */
.layout-tab-bar .item--focus:after {
  height: 0 !important;
}
#layouts .layout-tab-bar .item--focus {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 3px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
  border-radius: 6px !important;
  border-bottom: 2px ridge var(--b3-theme-primary-light) !important;
  margin-bottom: 3px !important;
  max-width: 666px !important;
  min-width: 58px !important;
  transition-duration: 2s;
  transition-delay: 0.31s;
  margin-right: 5.8px !important;
  margin-left: 5.8px !important;
}
/* 钉住标签页优化排版 */
li.item.item--pin {
  margin-right: 5.8px !important;
  margin-left: 5.8px !important;
}

/* 设置当前标签页文字样式 */
.layout-tab-bar .item--focus .item__text {
  color: var(--SCC-Red-Firole) !important;
  text-shadow: -1px 1px 13px var(--SCC-Orange-Windom);
  font-weight: 1314 !important;
}

/* 为钉住的标签页右上角增加大头钉图标 */
li.item.item--pin:not(.item--focus):after {
  content: "";
  content: url("../src/pin.svg");
  position: absolute;
  right: 5px;
  top: 0px;
  width: 12px;
  height: 12px;
  opacity: 0.3;
  filter: grayscale(100%);
}

li.item.item--pin.item--focus:after {
  content: "";
  content: url("../src/pin.svg") !important;
  position: absolute;
  right: 5px;
  top: 0px;
  width: 12px;
  height: 12px;
  background-color: transparent !important;
}

/* 标签页内文档名文本样式 */
.layout-tab-bar .item--pin .item__text {
  display: block !important;
  max-width: 666px !important;
}

/* 标签页上面的emoji */
.layout-tab-bar .item__icon {
  opacity: 0.58;
}
.layout-tab-bar .item__icon:hover {
  opacity: 1;
}

/* 减小标签页上的emoji大小 */
.layout-tab-bar .item__icon > img,
.layout-tab-bar .item__icon > svg {
  height: 13px;
  width: 13px;
}

@media screen and (max-width: 300px) {
  /* 宽度过小时隐藏 */
  ul.layout-tab-bar li [title="新建文档"],
  ul.layout-tab-bar li [title="更多"] {
    display: none;
  }
}
