/* 主界面UI */


/* 块滚动条 */
.protyle-scroll .b3-slider {
  opacity: 0;
}

.protyle-scroll .b3-slider:hover {
  opacity: .58;
}

/* fix Android Pad 端竖屏状态下，【设置】搜索输入时被输入法面板顶出可视范围 #125 */
body.body--desktop .b3-dialog__container {
  max-height: 100%;
}
/* Android Pad 端始终显示侧栏操作控件 #127 */
body.body--desktop .layout-tab-container.fn__flex-1 .block__icons,
body.body--desktop .layout-tab-container.fn__flex-1 .block__icon {
  cursor: pointer;
  opacity: 0.58;
}
/* Android Pad 端取消隐藏侧栏边框线 #126 */
body.body--desktop .layout__resize:after {
  content: "";
  width: 100%;
  height: 0.5px;
  display: block;
  background-color: #aaaaaa58;
  top: 3px;
  position: absolute;
  left: 0;
  transition: var(--b3-transition);
}
body.body--desktop .layout__resize--lr:after {
  top: 0;
  width: 1.3px;
  left: 0;
  height: 100%;
}

/*【集市】filter 宽度缩窄 #143 */
#bazaarSelect  {
  width: 100px;
  min-width: 100px;
}

/* Android Pad 端竖屏状态下【设置】-【快捷键】布局问题 #130 */
body.body--desktop.android .fn__size200 {
  width: 131px;
}
body.body--desktop.android #keymapList > div.fn__flex > label:nth-child(3) > svg,
body.body--desktop.android #searchByKey {
  display: none;
}

/* 解决特定缩放下出现意外滚动条 */
.fn__flex-column,
.b3-typography,
.protyle-wysiwyg {
  overflow: hidden;
}

/* 无打开文档时默认界面美化 */
.layout__empty {
  opacity: 0.58;
}

/* 文档页文档名输入框文本淡化 */
#layouts
  > div.fn__flex.fn__flex-1
  div.layout-tab-container.fn__flex-1
  div.protyle-content
  > div.protyle-title.protyle-wysiwyg--attr
  > div.protyle-title__input {
  opacity: 0.13;
  transition-duration: 1.31s;
}
#layouts
  > div.fn__flex.fn__flex-1
  div.layout-tab-container.fn__flex-1
  div.protyle-content
  > div.protyle-title.protyle-wysiwyg--attr
  > div.protyle-title__input:hover {
  opacity: 0.58;
  transition-duration: 0.58s;
}
#layouts
  > div.fn__flex.fn__flex-1
  div.layout-tab-container.fn__flex-1
  div.protyle-content
  > div.protyle-title.protyle-wysiwyg--attr
  > div.protyle-title__input:focus {
  opacity: 1;
  transition-duration: 0.58s;
}
/* 顶栏调整 */
body.body--win32 #toolbar,
body.windows .toolbar--browser {
  /*Android Pad 是 .body--desktop */
  background-color: transparent !important;
  box-sizing: border-box;
  height: 13px;
  line-height: 18px;
  padding: 0 5px 0 -69px;
  border-bottom: 0px solid var(--b3-border-color);
  transition: all 0.13s ease-in-out;
}
body.body--win32 #toolbar:hover,
body.windows .toolbar--browser:hover {
  background-color: transparent !important;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 0 0 3px;
  border-bottom: 0.5px solid var(--b3-border-color);
  transition: all 0.31s ease-in-out;
}
body.darwin {
  background-color: transparent !important;
  box-sizing: border-box;
  height: 8px;
  line-height: 18px;
  padding: 0 5px 0 69px; /* mac 端保持默认 69px 边距 */
  border-bottom: 0px solid var(--b3-border-color);
  transition: all 0.13s ease-in-out;
}
body.darwin #toolbar:hover {
  background-color: transparent !important;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 5px 0 69px;
  border-bottom: 0.5px solid var(--b3-border-color);
  transition: all 0.31s ease-in-out;
}
#toolbar .toolbar__item svg,
.toolbar #drag {
  opacity: 0;
}
#toolbar:hover #drag {
  opacity: 0.58;
  color: var(--SCColor);
}

#toolbar:hover svg {
  opacity: 0.58;
  height: 16px;
  width: 16px;
}
#toolbar .toolbar__item:hover svg {
  opacity: 1;
  color: var(--SCC-Red-Firole);
}

/* 当前打开文档右上角【更多】按钮位置和大小微调 */
body:not(.android) .protyle-breadcrumb > button svg {
  scale: 1.22 !important;
}
body.android .protyle-breadcrumb > button svg {
  width: 16px !important;
  height: 16px !important;
}

/* 减少左下角元素对视线的抢夺 */
#barDock svg {
  opacity: 0.58;
  scale: 1.13 !important;
  margin-left: 2px;
  margin-right: 22px;
  margin-bottom: 5px;
}
#barDock:hover svg {
  opacity: 1;
}
.status__msg {
  opacity: 0.3;
}
.status__msg:hover {
  opacity: 0.9;
}
#barDock {
  padding: 7px !important;
}
/* 减少右下角元素对视线的抢夺，不再适用于思源2.4.2+版本 */
/* #barFeedback, #barLock, #barDebug, #barHelp {
    opacity: .13;
}
#barFeedback:hover, #barLock:hover, #barDebug:hover, #barHelp:hover {
    opacity: 1;
}
.status__counter{
    opacity: .58;
}
.status__counter:hover{
    opacity: 1;
} */



/* 文档头部区域美化 */

/* 安卓端 */
body.android
  .protyle-background.protyle-background--enable
  > .protyle-background__iconw
  > .protyle-icons,
body.android
  .protyle-background.protyle-background--enable
  .protyle-background__img
  .protyle-icons {
  display: none;
}
body.android
  .protyle-background.protyle-background--enable:hover
  > .protyle-background__iconw
  > .protyle-icons,
body.android
  .protyle-background.protyle-background--enable:hover
  .protyle-background__img
  .protyle-icons {
  opacity: 0.58;
  display: flex;
  /* margin-bottom: -44px; */
}

.protyle-background__iconw .protyle-icons .protyle-icon {
  background-color: rgba(var(--page-1), 1);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 4px;
  padding: 4px 8px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  display: inline-flex;
  width: auto;
  font-size: 14px;
  padding: 0 8px;
  margin: 8px 0 0 -1px;
}
.protyle-icons .b3-tooltips:hover,
.protyle-icons .b3-tooltips:focus-within {
  overflow: hidden;
}

.protyle-background__iconw .protyle-icons .protyle-icon > svg {
  height: 28px;
  width: 15px;
  margin-right: 5px;
  fill: var(--SCColor) !important;
}
.protyle-background__iconw .protyle-icons .protyle-icon::after {
  opacity: 0.58;
  transform: unset;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: unset;
  position: unset;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  display: inline-flex;
  color: var(--SCColor) !important;
  font-size: 14px;
  position: unset;
  z-index: 0;
}

/* 文档头部标签添加质感 */
.protyle-background__tags div {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 1px,
    rgba(255, 255, 255, 0.3) 0px 8px 58px 1px,
    rgba(0, 0, 0, 0.2) 0px 3px 18px inset;
}
