/* 主界面UI */

::-webkit-scrollbar {
  width: 5.8px;
} /* 这是针对缺省样式 (必须的) */
:hover::-webkit-scrollbar {
  width: 5.8px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
} /* 滚动条的滑轨背景 */

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

:focus-within::-webkit-scrollbar-thumb {
  background-color: var(--b3-theme-primary-lighter);
} /* 滑块 */

::-webkit-scrollbar-button {
  background-color: transparent;
}
:focus-within::-webkit-scrollbar-button {
  background-color: var(--b3-theme-primary-lightest);
  width: 1px;
  height: 3px;
  border: 2px ridge var(--b3-theme-primary-light);
} /* 滑轨两头的监听按钮 */

::-webkit-scrollbar-corner {
  background-color: transparent;
} /* 横向滚动条和纵向滚动条相交处尖角 */

/* 有些界面不需要滚动条 */
.b3-tab-bar::-webkit-scrollbar,
.b3-tab-container::-webkit-scrollbar {
  width: 0px !important;
}

/* 块滚动条 */
.protyle-scroll .b3-slider {
  opacity: var(--SCC-baseProperty-Opacity-B);
}

.protyle-scroll .b3-slider:hover {
  opacity: 1;
}

/* fix Android Pad 端竖屏状态下，【设置】搜索输入时被输入法面板顶出可视范围 #125 */
body.body--desktop .b3-dialog__container {
  max-height: 100%;
}
/* Android Pad 端始终显示侧栏操作控件 #127 */
body.body--desktop .layout-tab-container.fn__flex-1 .block__icons,
body.body--desktop .layout-tab-container.fn__flex-1 .block__icon {
  cursor: pointer;
  opacity: 0.58;
}
/* Android Pad 端取消隐藏侧栏边框线 #126 */
body.body--desktop .layout__resize:after {
  content: "";
  width: 100%;
  height: 0.5px;
  display: block;
  background-color: #aaaaaa58;
  top: 3px;
  position: absolute;
  left: 0;
  transition: var(--b3-transition);
}
body.body--desktop .layout__resize--lr:after {
  top: 0;
  width: 1.3px;
  left: 0;
  height: 100%;
}

/*【集市】filter 宽度缩窄 #143 */
#bazaarSelect {
  width: 100px;
  min-width: 100px;
}

/* Android Pad 端竖屏状态下【设置】-【快捷键】布局问题 #130 */
body.body--desktop.android .fn__size200 {
  width: 131px;
}
body.body--desktop.android
  #keymapList
  > div.fn__flex
  > label:nth-child(3)
  > svg,
body.body--desktop.android #searchByKey {
  display: none;
}

/* 解决特定缩放下出现意外滚动条 */
.fn__flex-column::-webkit-scrollbar,
.b3-typography::-webkit-scrollbar,
.protyle-wysiwyg::-webkit-scrollbar {
  width: 0px; /* 允许滚动但不显示滚动条 */
}

/* 无打开文档时默认界面美化 */
.layout__empty {
  opacity: 0.58;
}

/* 文档页文档名输入框文本淡化 */
#layouts
  > div.fn__flex.fn__flex-1
  div.layout-tab-container.fn__flex-1
  div.protyle-content
  > div.protyle-title.protyle-wysiwyg--attr
  > div.protyle-title__input {
  opacity: 0.31;
  transition-duration: 1.31s;
}
#layouts
  > div.fn__flex.fn__flex-1
  div.layout-tab-container.fn__flex-1
  div.protyle-content
  > div.protyle-title.protyle-wysiwyg--attr
  > div.protyle-title__input:hover {
  opacity: 0.58;
  transition-duration: 0.58s;
}
#layouts
  > div.fn__flex.fn__flex-1
  div.layout-tab-container.fn__flex-1
  div.protyle-content
  > div.protyle-title.protyle-wysiwyg--attr
  > div.protyle-title__input:focus {
  opacity: 1;
  transition-duration: 0.58s;
}

/* 当前打开文档右上角【更多】按钮位置和大小微调 */
body:not(.android) .protyle-breadcrumb > button svg {
  scale: 1.22 !important;
}
body.android .protyle-breadcrumb > button svg {
  width: 16px !important;
  height: 16px !important;
}

/* 减少左下角元素对视线的抢夺 */
#barDock svg {
  opacity: 0.58;
  scale: 1.13 !important;
  margin-left: 2px;
  margin-right: 22px;
  margin-bottom: 5px;
}
#barDock:hover svg {
  opacity: 1;
}

body.body--mobile #status,
.status__msg {
  opacity: 0;
}
.status__msg:hover {
  opacity: 0.9;
}
#barDock {
  padding: 7px !important;
}
/* 减少右下角元素对视线的抢夺，不再适用于思源2.4.2+版本 */
/* #barFeedback, #barLock, #barDebug, #barHelp {
    opacity: .13;
}
#barFeedback:hover, #barLock:hover, #barDebug:hover, #barHelp:hover {
    opacity: 1;
}
.status__counter{
    opacity: .58;
}
.status__counter:hover{
    opacity: 1;
} */

/* 文档头部区域美化 */

/* 安卓端 */
body.android
  .protyle-background.protyle-background--enable
  > .protyle-background__iconw
  > .protyle-icons,
body.android
  .protyle-background.protyle-background--enable
  .protyle-background__img
  .protyle-icons {
  display: none;
}
body.android
  .protyle-background.protyle-background--enable:hover
  > .protyle-background__iconw
  > .protyle-icons,
body.android
  .protyle-background.protyle-background--enable:hover
  .protyle-background__img
  .protyle-icons {
  opacity: 0.58;
  display: flex;
  /* margin-bottom: -44px; */
}

.protyle-background__iconw .protyle-icons .protyle-icon {
  background-color: rgba(var(--page-1), 1);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 4px;
  padding: 4px 8px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  display: inline-flex;
  width: auto;
  font-size: 14px;
  padding: 0 8px;
  margin: 8px 0 0 -1px;
}
.protyle-icons .b3-tooltips:hover,
.protyle-icons .b3-tooltips:focus-within {
  overflow: hidden;
}

.protyle-background__iconw .protyle-icons .protyle-icon > svg {
  height: 28px;
  width: 15px;
  margin-right: 5px;
  fill: var(--SCColor) !important;
}
.protyle-background__iconw .protyle-icons .protyle-icon::after {
  opacity: 0.58;
  transform: unset;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: unset;
  position: unset;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  display: inline-flex;
  color: var(--SCColor) !important;
  font-size: 14px;
  position: unset;
  z-index: 0;
}

/* 文档头部标签添加质感 */
.protyle-background__tags div {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 1px,
    rgba(255, 255, 255, 0.3) 0px 8px 58px 1px,
    rgba(0, 0, 0, 0.2) 0px 3px 18px inset;
}

/* 图片资源protyle-action__drag控件美化 #241 */
.protyle-wysiwyg [data-node-id] .img:hover .protyle-action__drag {
  background: var(--b3-theme-primary-lighter);
  box-shadow: var(--b3-theme-primary-light) 0px 50px 100px -20px, var(--b3-theme-primary-lighter) 0px 30px 60px -30px, var(--b3-theme-primary-lightest) 0px -2px 6px 0px inset;
}