
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) {
    min-width: min(40vw,58px) !important;
    width: fit-content !important;
    max-width: min(880px,88vw) !important;
    max-height: min(86vh,580px) !important;
    padding: 9px;
    margin: 9px;
    background-color: rgba(72,69,80,0.88);
    border-radius: 18.6px;
    overflow-x: hidden;
}
body.body--mobile .protyle-hint.b3-list.b3-list--background:not(.hint--menu) {
    padding: 3px;
    margin: 3px;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) > button:not(:nth-child(-n+3)) {
    margin-bottom: 1px !important;
    padding-bottom: 1px !important;
    border-bottom: 1px solid var(--SCC-Gray-186-light);
    line-height: 15px;
    font-size: 96%;
    letter-spacing: 0.8px !important;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) > button:nth-child(-n+3) {
    margin-bottom: 7px !important;
    border-bottom: 1px solid var(--SCC-Gray-186);
    padding-bottom: 5px !important;
    font-weight: 400 !important;
    font-size: 113%;
    letter-spacing: 1.2px !important;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item__meta.b3-list-item__showall {
    padding-left: 5px !important;
    padding-top: 5px !important;
    font-size: 0.8em;
    color: var(--SCC-Cyan-186-light);
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:hover:not(.b3-list-item--focus) .b3-list-item__meta {
    color: var(--SCC-Cyan-186);
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) *:not(use) {
    color: var(--SCC-Orange-Windom);
    transition-duration: 0.58s;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:hover:not(.b3-list-item--focus) {
    background-color: var(--SCC-Pink-Firole-lighter);
    opacity: .9;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:not(.b3-list-item--focus) .b3-list-item__meta * {
    color: var(--SCC-Yellow-HellisePotter-light);
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:not(.b3-list-item--focus) .b3-list-item__first * {
    color: var(--SCC-White);
    font-weight: 58 !important;
    transition-duration: 0.02s;
    transition-delay: 0.04s;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:hover:not(.b3-list-item--focus) .b3-list-item__first * {
    color: var(--SCC-Orange-Windom);
    transition-duration: 0.02s;
    transition-delay: 0.04s;
}
