.b3-dialog__container[style*="50vw"] .b3-dialog__header,
.b3-dialog__container[style*="520px"]:not(:has(li[data-type="selectCloud"])) .b3-dialog__header {
  padding: 18px 0px 13px 0px;
  margin: 0 31px;
  font-size: 13pt;
  letter-spacing: 1px;
  font-weight: 520;
  color: var(--b3-theme-on-surface);
}

.b3-dialog__container[style*="520px"] {
  width: 360px !important;
  opacity: .95;
  border-radius: 18.6px;
  box-shadow: var(--SCC-baseComponent-Dialog-520-box-shadow);
  transition: all .58s ease 0s;
}

.b3-dialog__container[style*="520px"]:hover {
  box-shadow: var(--SCC-baseComponent-Dialog-520-hover-box-shadow);
  background-color: var(--b3-theme-surface-light);
  backdrop-filter: blur(2px);
}

.b3-dialog__container[style*="50vw"] .b3-dialog__close,
.b3-dialog__container[style*="520px"] .b3-dialog__close {
  border-radius: 37%;
  height: 28px;
  transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 4px 8px;
  margin: 0;
  width: 11px;
  height: 11px;
  padding: 8px 8px;
  background-color: #53535958;
  top: 15px;
  right: 31px;
}

/* .b3-dialog__container[style="width:520px"] .b3-dialog__close {
  display: none;
} */

.b3-dialog__container[style*="520px"] .b3-dialog__content:not(:has(li[data-type="selectCloud"])) {
  padding: 31px 31px 31px 34px;
  letter-spacing: .31px;
  font-weight: 350;
  color: var(--b3-theme-on-surface);
}
.b3-dialog__container[style*="520px"] .b3-dialog__content:has(li[data-type="selectCloud"]) {
  padding: 31px 13px 31px 13px;
  letter-spacing: .31px;
  font-weight: 350;
  color: var(--b3-theme-on-surface);
}
.b3-dialog__container[style*="520px"] .b3-dialog__content:has(li[data-type="selectCloud"]) button[data-type="addCloud"] {
  margin-right: 23px;
  margin-bottom: -10px;
}

.b3-dialog__container[style*="50vw"] .b3-dialog__action,
.b3-dialog__container[style*="520px"] .b3-dialog__action {
  padding: 15px 0;
  margin: 0 36px;
}

.b3-dialog__container[style*="50vw"] .b3-dialog__action .fn__space,
.b3-dialog__container[style*="520px"] .b3-dialog__action .fn__space {
  width: 8%;
}

.b3-dialog__container[style*="50vw"] .b3-dialog__action .b3-button,
.b3-dialog__container[style*="520px"] .b3-dialog__action .b3-button {
  transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 0 13px 3px rgb(131 131 131 / 31%) !important;
  letter-spacing: 3px;
  width: 46%;
  border-radius: 6px;
}

.b3-dialog__container[style*="50vw"] .b3-dialog__action .b3-button.b3-button--text,
.b3-dialog__container[style*="520px"] .b3-dialog__action .b3-button.b3-button--text {
  background-color: var(--b3-theme-primary);
  transition: all .58s ease-out;
  color: var(--SCC-baseComponent-Dialog-520-button-color);
  font-weight: 520;
}