.tooltip--memo {
  min-width: 58px;
  width: 58vw;
  min-height: fit-content;
  max-height: 186px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  color: #585858;
  background-color: #fffccf;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 5.8px;
  border-left: 5.8px inset rgba(244, 244, 0, 0.58);
  border-right: 5.8px outset rgba(244, 244, 0, 0.58);
  border-bottom: 5.8px ridge rgba(244, 244, 0, 0.58);
  border-top: 5.8px ridge rgba(244, 244, 0, 0.58);
  border-radius: 12px;
}
.tooltip {
  pointer-events: none; /* 值none表示鼠标事件“穿透”该元素并且指定该元素“下面”的任何东西。 */
  position: fixed;
  z-index: 1000000;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  animation-duration: 150ms;
  animation-fill-mode: both;
  animation-name: zoomIn;
}

.b3-tooltips {
  -webkit-font-smoothing: subpixel-antialiased;
}

.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
  background-color: var(--SCC-Component-meno-bg-color);
  border-bottom: var(--SCC-Component-meno-border-bottom);
}