.b3-color__square[data-type="color"]:before,
.b3-color__square[data-type="backgroundColor"]:before {
  position: relative;
  font-size: 80%;
  z-index: 2;
  top: 18px;
  margin-left: 0px;
  font-weight: bold;
  color: #85858585;
}

.b3-color__square[style="background-color:var(--b3-font-color1)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background1)"]:before {
  content: "1";
}

.b3-color__square[style="background-color:var(--b3-font-color2)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background2)"]:before {
  content: "2";
}

.b3-color__square[style="background-color:var(--b3-font-color3)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background3)"]:before {
  content: "3";
}

.b3-color__square[style="background-color:var(--b3-font-color4)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background4)"]:before {
  content: "4";
}

.b3-color__square[style="background-color:var(--b3-font-color5)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background5)"]:before {
  content: "5";
}

.b3-color__square[style="background-color:var(--b3-font-color6)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background6)"]:before {
  content: "6";
}

.b3-color__square[style="background-color:var(--b3-font-color7)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background7)"]:before {
  content: "7";
}

.b3-color__square[style="background-color:var(--b3-font-color8)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background8)"]:before {
  content: "8";
}

.b3-color__square[style="background-color:var(--b3-font-color9)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background9)"]:before {
  content: "9";
}

.b3-color__square[style="background-color:var(--b3-font-color10)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background10)"]:before {
  content: "10";
}

.b3-color__square[style="background-color:var(--b3-font-color11)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background11)"]:before {
  content: "11";
}

.b3-color__square[style="background-color:var(--b3-font-color12)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background12)"]:before {
  content: "12";
}

.b3-color__square[style="background-color:var(--b3-font-color13)"]:before,
.b3-color__square[style="background-color:var(--b3-font-background13)"]:before {
  content: "13";
}


/* 增加字色、底色方块图标的下边距以放下上面的文字 */
.protyle-font>.fn__flex {
  margin-bottom: 31px;
  margin-top: 5.8px;
}

/* 为字色面板\菜单设置边框 */
.protyle-util {
  border: solid 4px var(--b3-pinkroom-border);
}



.protyle-font {
  font-size: 13px;
  padding: 8px;
}

.b3-color__square {
  height: 18.6px;
  margin-right: 5.8px;
  width: 18.6px;
  border: 1px solid #13131313;
  transition: var(--b3-transition);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.b3-color__square:hover {
  box-shadow: rgb(72 69 80 / 1%) 0px 3px, rgb(72 69 80 / 1%) 0px 6px, rgb(72 69 80 / 1%) 0px 9px, rgb(72 69 80 / 1%) 0px 12px, rgb(72 69 80 / 1%) 0px 15px !important;
}