/* 软件右上角通知改为在右下角显示 */
#message {
  opacity: 0.98;
}
#message button[aria-label="已读"] {
  height: 2.2em !important;
  width: 4em !important;
  border: var(--SCC-Component-Message-button-ok-border);
  background-color: var(--SCC-Component-Message-button-ok-bg-color);
}

#message button[aria-label="已读"] svg {
  scale: 1.6em !important;
  color: #fff !important;
}
.b3-snackbars {
  position: fixed;
  right: 22px;
  top: unset;
  bottom: 31px;
}
.b3-snackbar__content{
  color: var(--SCC-baseComponent-snackbar__content-color);
  letter-spacing: 1.3px;
  font-size: 120%;
  line-height: 2;
}

#message .b3-button.b3-button--white:hover {
  background-color: var(--b3-theme-background);
  backdrop-filter: brightness(0.85);
}