body:not(.body--mobile) .protyle-hint.b3-list.b3-list--background.hint--menu {
  column-count: 4;
  column-width: 178px !important;
  column-gap: 0.13em;
  column-rule: var(--SCC-Component-HintMenu-column-rule) !important;
  min-width: 50vw !important;
  max-height: 86vh !important;
  padding: 13px;
  background-color: var(--SCC-Component-HintMenu-bg-color);
  backdrop-filter: var(--SCC-baseComponent-HintMenu-backdrop-filter);
  border-radius: 18.6px;
  border-bottom: var(--SCC-Component-HintMenu-border-bottom);
  overflow-x: visible !important;
}

body:not(.body--mobile)
  .protyle-hint.b3-list.b3-list--background.hint--menu
  *:not(use) {
  color: rgba(254, 239, 234, 0.78);
  transition-duration: 0.86s;
}
body:not(.body--mobile)
  .b3-list--background.hint--menu
  .b3-list-item:hover:not(.b3-list-item--focus) {
  background-color: var(--b3-theme-primary-lighter);
  border-radius: 8.6px;
  transition-duration: 0.03s;
  transition-delay: 0.06s;
}
.protyle-hint.b3-list.b3-list--background.hint--menu
  svg {
  padding: 3px;
  transition-duration: 1.86s;
}
.protyle-hint.b3-list.b3-list--background.hint--menu
  > button:hover
  svg {
  background-color: transparent;
  transition-duration: 0.31s;
}
.protyle-hint.b3-list.b3-list--background.hint--menu
  > button
  use {
  background-color: var(--SCC-White);
  scale: 1.05 !important;
}

/* Popup-HintMenu for Android #112 */
body.body--mobile .protyle-hint.b3-list.b3-list--background.hint--menu {
  min-width: 28vw !important;
  max-width: 68vw !important;
  max-height: 86vh !important;
  padding: 3.1px;
  background-color: var(--SCC-Component-HintMenu-bg-color);
  backdrop-filter: var(--SCC-baseComponent-HintMenu-backdrop-filter);
  border-radius: 18.6px;
  border-bottom: var(--SCC-Component-HintMenu-border-bottom);
  overflow-x: visible !important;
}
body.body--mobile
  .b3-list--background.hint--menu
  .b3-list-item:hover:not(.b3-list-item--focus) {
  background-color: var(--SCC-Orange-Windom-light);
  border-radius: 3.1px;
  transition-duration: 0.03s;
  transition-delay: 0.06s;
}
