/* 控制打印样式 */

@media print {

    .p,
    table,
    .list {
        font-family: "Times New Roman", "宋体";
    }

    .p {
        line-height: 1.625;
        padding: 4px;
        margin: 4px 0;
    }

    .h3 {
        font-size: 1.4em !important;
        margin-top: 24px;
        padding: 4px;
        line-height: 1.25;
    }

    /* .protyle-wysiwyg>.p {
        text-indent: 2em;
    } */

    div[data-type="NodeHeading"] {
        font-family: "Times New Roman", "黑体" !important;
        font-weight: normal !important;
    }

    div[data-type="NodeHeading"]::before {
        display: none !important;
    }
}



/* 暗黑模式下选择明亮模式显示PDF异常 #205 */
/* .textLayer,
.pdf__resize {
    mix-blend-mode: multiply;
} */


/* pdf导出界面有两部分，左边预览界面是#preview，右边设置界面是#action */
#action {
    background-color: #dfe0e168 !important;
    border-left: 8px ridge var(--SCC-primary-lightest); /* 滚动条遮罩，2.4.6失效 */
}
#action > div > button {
    border-radius: 13px;
    background-color: #eeeebc68;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'ui-rounded';
    letter-spacing: 1.3px;
    border-bottom: 1px ridge #f4f400;
}
#action > div > button:hover {
    cursor: pointer;
    background-color: #9acccf31;
    box-shadow: rgba(17, 17, 26, 0.1) 3px 13px 13px -3px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 0;
    border-bottom: 1px ridge #f4f400;
}
#action > div > div.fn__flex-1 {
    display: none;
}
#action > div > button.b3-button.b3-button--cancel {
    color: #58585888 !important;
}
#action > div > button.b3-button.b3-button--text {
    color: #227acffc !important;
}
/* 导出PDF界面异常 #166 */
#action, #preview {
    scrollbar-gutter: auto !important;
}