@media screen and (min-width: 1300px) {

  /* CTRL + P */
  .b3-dialog__container[style*="80vw"]>div>.fn__flex>.fn__flex-column {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .b3-dialog__container[style*="80vw"] .search__header,
  .b3-dialog__container[style*="80vw"] .b3-form__space--small {
    width: 100%;
  }

  .b3-dialog__container[style*="80vw"] .b3-form__space--small {
    margin: 0;
    padding: 13px 22px 13px 15px;
  }

  .b3-dialog__container[style*="80vw"] #searchList {
    float: left;
    width: 45%;
  }

  /* CTRL + F 为空时保持高度 */
  .b3-dialog__container[style*="80vw"] .search__header.fn__none~#searchList,
  .b3-dialog__container[style*="80vw"] .search__header.fn__none~#searchPreview {
    height: calc(100% - 50px - 53px) !important;
  }
}

/* 设置界面搜索框 */
.search__header .b3-text-field--text {
  box-shadow: var(--SCC-baseComponent-search__header-input-box-shadow);
}

.search__header .b3-text-field--text:focus {
  box-shadow: var(--SCC-baseComponent-search__header-input-box-shadow-focus);
}

div[data-type="search-item"] .b3-list-item__meta {
  font-size: .7rem;
  direction: rtl;
  margin-left: 31px;
  max-width: 58% !important;
  flex-shrink: 0;
  color: #858585c5;
}

#searchResult {
  color: var(--b3-theme-primary);
  backdrop-filter: sepia(1);
  padding: 3px;
}

#searchPathInput {
  word-break: break-all;
  -webkit-line-clamp: 1;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: block;
  max-width: 30%;
  opacity: 0.58;
}

#searchList div[data-type="search-item"] {
  border-bottom: 1px solid #85858513;
}

#searchList div[data-type="search-item"]>.b3-list-item__graphic {
  opacity: .58;
}

#searchList div[data-type="search-item"]>.b3-list-item__text {
  opacity: .88;
  font-size: 85%;
  letter-spacing: 0.13px;
}

#searchPathCheck,
#includeChildCheck,
#searchSyntaxCheck {
  background-color: #85858513;
}

#searchPathCheck:hover,
#includeChildCheck:hover,
#searchSyntaxCheck:hover {
  background-color: var(--b3-theme-primary-lightest);
}

#searchList .b3-list-item__text:has(mark:nth-child(9)):before {
  content: "9+";
  font-size: 90%;
    background-color: #58585831;
  border-radius: 50%;
  padding:4px;
  margin-right: 5px;
}