
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) {
    min-width: 40vw !important;
    width: auto !important;
    max-width: 880px !important;
    /* max-height: 86vh !important; */
    padding: 13px;
    background-color: rgba(72,69,80,0.88);
    border-radius: 18.6px;
    overflow-x: hidden;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) > button:not(:nth-child(-n+3)) {
    margin-bottom: 1px !important;
    padding-bottom: 1px !important;
    font-weight: 58 !important;
    line-height: 20px;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) > button:nth-child(-n+3) {
    margin-bottom: 9px !important;
    border-bottom: 1px solid var(--SCC-Gray-186);
    padding-bottom: 5px !important;
    font-weight: 88 !important;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item__meta.b3-list-item__showall {
    padding-left: 5px !important;
    padding-top: 5px !important;
    font-size: 0.8em;
    color: var(--SCC-Cyan-186-light);
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:hover:not(.b3-list-item--focus) .b3-list-item__meta {
    color: var(--SCC-Cyan-186);
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) *:not(use) {
    color: var(--SCC-Orange-Windom);
    transition-duration: 0.58s;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:hover:not(.b3-list-item--focus) {
    background-color: var(--SCC-Pink-Firole-lighter);
    opacity: .9;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:not(.b3-list-item--focus) .b3-list-item__meta * {
    color: var(--SCC-Yellow-HellisePotter-light);
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:not(.b3-list-item--focus) .b3-list-item__first * {
    color: var(--SCC-White);
    font-weight: 58 !important;
    transition-duration: 0.02s;
    transition-delay: 0.04s;
}
.protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item:hover:not(.b3-list-item--focus) .b3-list-item__first * {
    color: var(--SCC-Orange-Windom);
    transition-duration: 0.02s;
    transition-delay: 0.04s;
}
