/* 软件右上角通知改为在右下角显示 */
#message {
  opacity: 0.98;
}
#message button[aria-label="已读"] {
  height: 2.6em !important;
  width: 5.8em !important;
  border: var(--SCC-Component-Message-button-ok-border);
  background-color: var(--SCC-Component-Message-button-ok-bg-color);
}
#message button[aria-label="已读"] svg {
  scale: 1.6em !important;
  color: #fff !important;
}
.b3-snackbars {
  position: fixed;
  right: 22px;
  top: unset;
  bottom: 31px;
}
