@media screen and (max-width: 1300px) {

  .spread-search__preview {
    margin-top: 13px;
    border-top: none;
  }
}

@media screen and (min-width: 1300px) {

  /* CTRL + P */
  .b3-dialog__container[style*="80vw"]>div>.fn__flex>.fn__flex-column {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .b3-dialog__container[style*="80vw"] .search__header,
  .b3-dialog__container[style*="80vw"] .b3-form__space--small {
    width: 100%;
  }

  .b3-dialog__container[style*="80vw"] .b3-form__space--small {
    margin: 0;
    padding: 13px 22px 13px 15px;
  }

  .b3-dialog__container[style*="80vw"] #searchList {
    float: left;
    margin-right: 3px;
    border-right: 2px ridge #58585813;
    width: max(58%, 700px);
  }

  .spread-search__preview {
    border-top: none;
  }

  /* CTRL + F 为空时保持高度 */
  .b3-dialog__container[style*="80vw"] .search__header.fn__none~#searchList,
  .b3-dialog__container[style*="80vw"] .search__header.fn__none~#searchPreview {
    height: calc(100% - 50px - 53px) !important;
  }

  #searchList div[data-type="search-item"]>.b3-list-item__text,
  #searchList div[data-type="search-item"] .b3-list-item__meta {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: inherit;
    padding: 0;
    line-height: 1.31;
    opacity: .88;
    letter-spacing: 0.13px;
  }

  #searchList div[data-type="search-item"]>.b3-list-item__text {
    font-size: 87%;
    text-align: left;
    margin: 5px 0 2px 0;
  }

  #searchList div[data-type="search-item"] .b3-list-item__meta {
    text-align: right;
  }
}

/* 设置界面搜索框 */
.search__header .b3-text-field--text {
  box-shadow: var(--SCC-baseComponent-search__header-input-box-shadow);
}

.search__header .b3-text-field--text:focus {
  box-shadow: var(--SCC-baseComponent-search__header-input-box-shadow-focus);
}

div[data-type="search-item"] .b3-list-item__meta {
  font-size: .75rem;
  /* direction: rtl; */
  margin-left: 31px;
  max-width: 58% !important;
  flex-shrink: 0;
  color: #858585c5;
}

#searchResult {
  color: var(--b3-theme-primary);
  backdrop-filter: sepia(1);
  padding: 3px;
}

@media screen and (min-width: 960px) {
  #searchResult::before {
    content: "🎯";
    opacity: .8;
    padding: 0 3px 0 18px;
  }

  #searchResult::after {
    content: "|  💡Ctrl + R 转为替换";
    opacity: .58;
    padding: 0 18px 0 12px;
  }
}


#searchPathInput {
  word-break: break-all;
  -webkit-line-clamp: 1;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: block;
  max-width: 30%;
  opacity: 0.58;
}

#searchList div[data-type="search-item"] {
  border-bottom: 1px dashed #858585a5;
}

#searchList div[data-type="search-item"]>.b3-list-item__graphic {
  opacity: .31;
}


#searchPathCheck,
#includeChildCheck,
#searchSyntaxCheck {
  background-color: #85858513;
}

#searchPathCheck:hover,
#includeChildCheck:hover,
#searchSyntaxCheck:hover {
  background-color: var(--b3-theme-primary-lightest);
}

#searchList .b3-list-item__text:has(mark:nth-child(10)):before {
  content: "9+";
  font-size: 85%;
  background-color: #58585831;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5px;
}

#searchList .b3-list-item__text:has(mark:nth-child(50)):before {
  content: "49+";
}

#searchList .b3-list-item__text:has(mark:nth-child(100)):before {
  content: "99+";
}

#searchList .b3-list-item {
  counter-increment: search-index;
}

#searchList .b3-list-item:before {
  content: counter(search-index);
  font-size: 90%;
  width: 26px;
  opacity: .31;
}

#searchList {
  counter-reset: search-index 0;
}