/* 控制打印样式 */

@media print {

    .p,
    table,
    .list {
        font-family: "Times New Roman", "宋体";
    }

    .p {
        line-height: 1.625;
        padding: 4px;
        margin: 4px 0;
    }

    .h3 {
        font-size: 1.4em !important;
        margin-top: 24px;
        padding: 4px;
        line-height: 1.25;
    }

    /* .protyle-wysiwyg>.p {
        text-indent: 2em;
    } */

    div[data-type="NodeHeading"] {
        font-family: "Times New Roman", "黑体" !important;
        font-weight: normal !important;
    }

    div[data-type="NodeHeading"]::before {
        display: none !important;
    }
}


/* @page {
    size: A4;
}

@page :left {
    margin: 2cm;
}

@page :right {
    margin: 2cm;
} */