:root {
    /* 绛亽色 */
    --SCColor: #484550;
    --SCC-primary-light: rgba(72,69,80,0.58);
    --SCC-primary-lighter: rgba(72,69,80,0.31);
    --SCC-primary-lightest: rgba(72,69,80,0.13);
    /* 绛亽白 */
    --SCC-White: #feefea;
    --SCC-White-light: rgba(254,239,234,0.58);
    --SCC-White-lighter: rgba(254,239,234,0.31);
    --SCC-White-lightest: rgba(254,239,234,0.13);
    /* 海文东蓝 */
    --SCC-Blue-Windom: #000655;
    --SCC-Blue-Windom-light: rgba(0,6,85,0.58);
    --SCC-Blue-Windom-lighter: rgba(0,6,85,0.31);
    --SCC-Blue-Windom-lightest: rgba(0,6,85,0.13);
    /* 海文东黄 */
    --SCC-Orange-Windom: #ffbb00;
    --SCC-Orange-Windom-light: rgba(255,187,0,0.58);
    --SCC-Orange-Windom-lighter: rgba(255,187,0,0.31);
    --SCC-Orange-Windom-lightest: rgba(255,187,0,0.13);
    /* 海文东2号蓝 */
    --SCC-Blue-Windom_2: #3a83ba;
    --SCC-Blue-Windom_2-light: rgba(58,131,186,0.58);
    --SCC-Blue-Windom_2-lighter: rgba(58,131,186,0.31);
    --SCC-Blue-Windom_2-lightest: rgba(58,131,186,0.13);
    /* 巴枀紫 */
    --SCC-Purple-Soledar: #912997;
    --SCC-Purple-Soledar-light: rgba(145,41,151,0.58);
    --SCC-Purple-Soledar-lighter: rgba(145,41,151,0.31);
    --SCC-Purple-Soledar-lightest: rgba(145,41,151,0.13);
    /* 巴枀灰 */
    --SCC-Gray-Soledar: #585858;
    --SCC-Gray-Soledar-light: rgba(88,88,88,0.58);
    /* 火萝粉 */
    --SCC-Pink-Firole: #ff3399;
    --SCC-Pink-Firole-light: rgba(255,51,153,0.58);
    --SCC-Pink-Firole-lighter: rgba(255,51,153,0.31);
    --SCC-Pink-Firole-lightest: rgba(255,51,153,0.13);
    /*  火萝红 */
    --SCC-Red-Firole: #ff0066;
    --SCC-Red-Firole-light: rgba(255,0,102,0.58);
    --SCC-Red-Firole-lighter: rgba(255,0,102,0.31);
    --SCC-Red-Firole-lightest: rgba(255,0,102,0.13);
    /* 一八六战略紫 */
    --SCC-Purple-186: #8051e7;
    --SCC-Purple-186-light: rgba(128,81,231,0.58);
    --SCC-Purple-186-lighter: rgba(128,81,231,0.31);
    --SCC-Purple-186-lightest: rgba(128,81,231,0.13);
    /* 一八六战略青 */
    --SCC-Cyan-186: #bffae2;
    --SCC-Cyan-186-light: rgba(191,250,226,0.58);
    --SCC-Cyan-186-lighter: rgba(191,250,226,0.31);
    --SCC-Cyan-186-lightest: rgba(191,250,226,0.13);
    /* 一八六战略绿 */
    --SCC-Green-186: #80fb0a;
    --SCC-Green-186-light: rgba(128,251,10,0.58);
    --SCC-Green-186-lighter: rgba(128,251,10,0.31);
    --SCC-Green-186-lightest: rgba(128,251,10,0.13);
    /* 一八六战略棕 */
    --SCC-Brown-186: #320b11;
    --SCC-Brown-186-light: rgba(50,11,17,0.58);
    --SCC-Brown-186-lighter: rgba(50,11,17,0.31);
    --SCC-Brown-186-lightest: rgba(50,11,17,0.13);
    /* 一八六战略黑 */
    --SCC-Black-186: #0d0d0d;
    --SCC-Black-186-light: rgba(13,13,13,0.58);
    --SCC-Black-186-lighter: rgba(13,13,13,0.31);
    --SCC-Black-186-lightest: rgba(13,13,13,0.13);
    /* 一八六战略灰 */
    --SCC-Gray-186: #bfa7b1;
    --SCC-Gray-186-light: rgba(191,167,177,0.58);
    /* 一八六战略蓝 */
    --SCC-Blue-186: #494bc3;
    --SCC-Blue-186-light: rgba(73,75,195,0.58);
    /* 绛亽束彖园络管理系统内部代号：[ Hellise Potter ]（赫礼斯叵特） */
    --SCC-Yellow-HellisePotter: #f4f400;
    --SCC-Yellow-HellisePotter-light: rgba(244,244,0, .8);
    --SCC-Gray-HellisePotter: #dee3f4;
    --SCC-Gray-HellisePotter-light: rgba(222,227,244, .8);
    /* 云上高组 */
    --SCC-Red-WPS: #990033;
    --SCC-Red-WPS-light: rgba(153,0,51,0.58);
    --SCC-Red-WPS-lighter: rgba(153,0,51,0.31);
    --SCC-Red-WPS-lightest: rgba(153,0,51,0.13);
    /* -- */
    /* 块引用波浪线动画图标 | The icon of wavy line animation */
    --custom-span-ref-animation-icon: url(/appearance/themes/Sofill-/icon/wavy-line.svg);
    /* --- */
    /* 主色 */
    --b3-theme-primary: var(--SCC-Pink-Firole);
    --b3-theme-primary-light: var(--SCC-Pink-Firole-light);
    --b3-theme-primary-lighter: var(--SCC-Pink-Firole-lighter);
    --b3-theme-primary-lightest: var(--SCC-Pink-Firole-lightest);
    --b3-theme-secondary: var(--SCC-Brown-186-light);
    --b3-theme-background: var(--SCC-Gray-HellisePotter);
    --b3-theme-background-light: var(--SCC-Gray-HellisePotter-light);
    --b3-theme-surface: var(--SCC-Gray-HellisePotter);
    --b3-theme-surface-light: var(--SCC-Gray-HellisePotter-light);
    --b3-theme-error: #d23f31; /* 不修改 */

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: var(--SCC-Blue-Windom); /* 多级标题默认字色 */
    --b3-theme-on-surface: var(--SCColor); /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色 */
    --b3-theme-on-surface-light: var(--SCC-primary-light);
    --b3-theme-on-error: #fff; /* 不修改 */

    /* 字体 */
    --b3-font-family: 'Inter', 'Inter-Regular', 'PingFang SC', "Microsoft YaHei", "HarmonyOS Sans SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei UI", "WenQuanYi Micro Hei", sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;

    /* 顶部工具栏 */
    --b3-toolbar-background: var(--SCC-primary-lightest);
    --b3-toolbar-blur-background: var(--SCC-Gray-HellisePotter-light);
    --b3-toolbar-color: var(--SCC-Blue-Windom-light);


    /* 线条 */
    --b3-border-color: var(--SCC-Gray-HellisePotter-light);

    /* 滚动条 */
    --b3-scroll-color: var(--SCC-Purple-186-lightest);

    /* 列表 */
    --b3-list-hover: var(--SCC-Purple-186-lightest);

    /* 菜单 */
    --b3-menu-background: var(--SCC-Gray-HellisePotter);

    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);

    /* 遮罩 */
    --b3-mask-background: var(--SCC-primary-light);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: #f5d1cf;
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: #ffe8c8;
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: #d6eaf9;
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: #d7eed8;

    /* 自定义文字 */
    --b3-font-color1: var(--SCC-Red-Firole);
    --b3-font-color2: var(--SCC-Pink-Firole);
    --b3-font-color3: var(--SCC-Purple-186);
    --b3-font-color4: var(--SCC-Blue-186);
    --b3-font-color5: var(--SCC-Black-186);
    --b3-font-color6: var(--SCColor);
    --b3-font-color7: var(--SCC-Gray-186);
    --b3-font-color8: var(--SCC-Cyan-186);
    --b3-font-color9: var(--SCC-Cyan-186-lighter);
    --b3-font-color10: var(--SCC-Green-186);
    --b3-font-color11: var(--SCC-Yellow-HellisePotter);
    --b3-font-color12: var(--SCC-Orange-Windom);
    --b3-font-color13: var(--b3-theme-on-background);
    --b3-font-background1: var(--SCC-Red-Firole-light);
    --b3-font-background2: var(--SCC-Pink-Firole-light);
    --b3-font-background3: var(--SCC-Purple-186-light);
    --b3-font-background4: var(--SCC-Blue-186-light);
    --b3-font-background5: var(--SCC-Brown-186-light);
    --b3-font-background6: var(--SCC-Black-186-lighter);
    --b3-font-background7: var(--SCC-Gray-186-light);
    --b3-font-background8: var(--SCC-Cyan-186-light);
    --b3-font-background9: var(--SCC-Blue-Windom_2-light);
    --b3-font-background10: var(--SCC-Green-186-lighter);
    --b3-font-background11: var(--SCC-Yellow-HellisePotter-light);
    --b3-font-background12: var(--SCC-Orange-Windom-light);
    --b3-font-background13: var(--b3-theme-on-background);

    /* 动画效果 */
    --b3-transition: all .31s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .31s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: var(--SCC-Yellow-HellisePotter);
    --b3-protyle-search-border-color: var(--SCC-Yellow-HellisePotter-light);
    --b3-protyle-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(27, 31, 35, .05);
    --b3-protyle-code-linenumber-hl: transparent;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #202124;
    --b3-protyle-inline-em-color: #202124;
    --b3-protyle-inline-s-color: #58585831;
    --b3-protyle-inline-link-color: var(--SCC-Blue-Windom_2); /* 超链接字色 */
    --b3-protyle-inline-mark-background: #ffe955;
    --b3-protyle-inline-mark-color: #202124;
    --b3-protyle-inline-tag-color: #5f6368;
    --b3-protyle-inline-blockref-color: #660e7a; /* 块引用字色 */

    /* PDF */
    --b3-pdf-selection: #d0e9c8;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: var(--b3-theme-error);
    --b3-pdf-background2: #f5822e;
    --b3-pdf-background3: var(--b3-theme-secondary);
    --b3-pdf-background4: #65b84d;
    --b3-pdf-background5: #f5539e;
    --b3-pdf-background6: var(--b3-theme-primary);
    --b3-pdf-background7: #944194;
}