#searchList .b3-list-item__text:has(mark:nth-child(10)):before {
  content: "9+";
  font-size: 85%;
  background-color: #58585831;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5px;
}

#searchList .b3-list-item__text:has(mark:nth-child(50)):before {
  content: "49+";
}

#searchList .b3-list-item__text:has(mark:nth-child(100)):before {
  content: "99+";
}

#searchList .b3-list-item {
  counter-increment: search-index;
}

#searchList .b3-list-item:before {
  content: counter(search-index);
  font-size: 90%;
  width: 26px;
  opacity: .31;
}

#searchList {
  counter-reset: search-index 0;
}