.fn__flex-column:has(#searchList) {
  height: 88vh !important;
}

.spread-search__preview {
  margin-top: 13px;
  border-top: none;
}

#searchList {
  height: calc(66% - 69px) !important;
}

#searchList div[data-type="search-item"] {
  min-height: 3.1rem;
}

#searchList div[data-type="search-item"]>.b3-list-item__text {
  font-size: 87%;
  text-align: left;
  line-height: 1.68rem;
}

#searchList div[data-type="search-item"]>.b3-list-item__text,
#searchList div[data-type="search-item"]>.b3-list-item__graphic {
  margin: -13px 0 1px 0;
}

#searchList [data-type=search-item].b3-list-item .b3-list-item__meta {
  top: 2rem;
  left: 24px;
  line-height: 1rem;
  max-width: 100%;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 16px);
}

#searchList .b3-list-item:before {
  max-height: 3.1rem;
}