@media screen and (max-width: 1300px) {

  .fn__flex-column:has(#searchList) {
    height: 88vh !important;
  }

  .spread-search__preview {
    margin-top: 13px;
    border-top: none;
  }

  body.android #searchList {
    height: calc(58% - 69px) !important;
  }

  body:not(.android) #searchList {
    height: calc(31% - 69px) !important;
  }

  #searchList:has(.b3-list-item:nth-of-type(6)) {
    height: calc(58% - 69px) !important;
  }

  #searchList:has(.b3-list-item:nth-of-type(13)) {
    height: calc(70% - 69px) !important;
  }

  #searchList div[data-type="search-item"] {
    min-height: 3.1rem;
  }

  #searchList div[data-type="search-item"]>.b3-list-item__text {
    font-size: 87%;
    text-align: left;
    line-height: 1.68rem;
  }

  #searchList div[data-type="search-item"]>.b3-list-item__text,
  #searchList div[data-type="search-item"]>.b3-list-item__graphic {
    margin: -13px 0 1px 0;
  }

  #searchList [data-type=search-item].b3-list-item .b3-list-item__meta {
    top: 2rem;
    left: 24px;
    line-height: 1rem;
    max-width: 100%;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 16px);
  }

  #searchList .b3-list-item:before {
    max-height: 3.1rem;
  }
}

@media screen and (min-width: 1300px) {

  /* CTRL + P */
  .b3-dialog__container[style*="80vw"]>div>.fn__flex>.fn__flex-column {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .b3-dialog__container[style*="80vw"] .search__header,
  .b3-dialog__container[style*="80vw"] .b3-form__space--small {
    width: 100%;
  }

  .b3-dialog__container[style*="80vw"] .b3-form__space--small {
    margin: 0;
    padding: 13px 22px 13px 15px;
  }

  .b3-dialog__container[style*="80vw"] #searchList {
    float: left;
    margin-right: 3px;
    border-right: 2px ridge #58585813;
  }

  body.android #searchList {
    width: max(58%, 700px);
  }

  body:not(.android) .b3-dialog__container[style*="80vw"] #searchList {
    width: max(31%, 580px);
  }

  .b3-dialog__container[style*="80vw"] #searchList:has(.b3-list-item:nth-of-type(13)) {
    width: max(58%, 700px);
  }

  .spread-search__preview {
    border-top: none;
  }

  /* CTRL + F 为空时保持高度 */
  .b3-dialog__container[style*="80vw"] .search__header.fn__none~#searchList,
  .b3-dialog__container[style*="80vw"] .search__header.fn__none~#searchPreview {
    height: calc(100% - 50px - 53px) !important;
  }

  #searchList div[data-type="search-item"]>.b3-list-item__text,
  #searchList div[data-type="search-item"] .b3-list-item__meta {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: inherit;
    padding: 0;
    line-height: 1.31;
    opacity: .88;
    letter-spacing: 0.13px;
  }

  #searchList div[data-type="search-item"]>.b3-list-item__text {
    font-size: 87%;
    text-align: left;
    margin: 5px 0 2px 0;
  }

  #searchList div[data-type="search-item"] .b3-list-item__meta {
    text-align: right;
  }


  div[data-type="search-item"] .b3-list-item__meta {
    font-size: .75rem;
    /* direction: rtl; */
    margin-left: 31px;
    max-width: 58% !important;
  }

  #searchList div[data-type="search-item"]>.b3-list-item__text svg {
    margin: 0;
  }
}