:root {
  /* 绛亽遴选中华传统色彩序列 */
  --SCC-CNTC-铅白: #f0f0f4;
  --SCC-CNTC-雪白: #f0fcff;
  --SCC-CNTC-莹白: #e3f9fd;
  --SCC-CNTC-象牙白: #fffbf0;
  --SCC-CNTC-缟白: #f2ecde;
  --SCC-CNTC-茶白: #f3f9f1;
  --SCC-CNTC-青白: #c0ebd7;
  --SCC-CNTC-蟹壳青: #bbcdc5;
  --SCC-CNTC-花白: #c2ccd0;
  --SCC-CNTC-中度灰: #808080;
  --SCC-CNTC-苍色: #75878a;
  --SCC-CNTC-玄青: #3d3b4f;
  --SCC-CNTC-夜蓝: #161823;
  --SCC-CNTC-樱草色: #eaff56;
  --SCC-CNTC-鹅黄: #fff143;
  --SCC-CNTC-鸭黄: #faff72;
  --SCC-CNTC-杏黄: #ffa631;
  --SCC-CNTC-橘红: #ff7500;
  --SCC-CNTC-姜黄: #ffc773;
  --SCC-CNTC-赤金: #f2be45;
  --SCC-CNTC-金色: #eacd76;
  --SCC-CNTC-牙色: #eedeb0;
  --SCC-CNTC-枯黄: #d3b17d;
  --SCC-CNTC-赤茶: #b35c44;
  --SCC-CNTC-驼色: #a88462;
  --SCC-CNTC-秋色: #896c39;
  --SCC-CNTC-松花色: #bce672;
  --SCC-CNTC-豆绿: #9ed048;
  --SCC-CNTC-豆青: #96ce54;
  --SCC-CNTC-石绿: #16a951;
  --SCC-CNTC-松柏绿: #21a675;
  --SCC-CNTC-翡翠色: #3de1ad;
  --SCC-CNTC-缥: #7fecad;
  --SCC-CNTC-艾绿: #a4e2c6;
  --SCC-CNTC-石青: #7bcfa6;
  --SCC-CNTC-铜绿: #549688;
  --SCC-CNTC-竹青: #789262;
  --SCC-CNTC-墨灰: #758a99;
  --SCC-CNTC-墨蓝: #50616d;
  --SCC-CNTC-鸦青: #424c50;
  --SCC-CNTC-朱砂: #ff461f;
  --SCC-CNTC-火红: #ff2d51;
  --SCC-CNTC-朱膘: #f36838;
  --SCC-CNTC-洋红: #ff4777;
  --SCC-CNTC-品红: #f00056;
  --SCC-CNTC-粉红: #ffb3a7;
  --SCC-CNTC-桃红: #f47983;
  --SCC-CNTC-酡颜: #f9906f;
  --SCC-CNTC-绛紫: #8c4356;
  --SCC-CNTC-绯红: #c83c23;
  --SCC-CNTC-胭脂: #9d2933;
  --SCC-CNTC-朱红: #ff4c00;
  --SCC-CNTC-茜色: #cb3a56;
  --SCC-CNTC-绾: #a98175;
  --SCC-CNTC-嫣红: #ef7a82;
  --SCC-CNTC-殷红: #be002f;
  --SCC-CNTC-赤: #c3272b;
  --SCC-CNTC-靛蓝: #065279;
  --SCC-CNTC-宝蓝: #4b5cc4;
  --SCC-CNTC-蓝灰: #a1afc9;
  --SCC-CNTC-黛: #4a4266;
  --SCC-CNTC-黛紫: #574266;
  --SCC-CNTC-黛绿: #426666;
  --SCC-CNTC-黛蓝: #425066;
  --SCC-CNTC-紫酱: #815463;
  --SCC-CNTC-酱紫: #815476;
  --SCC-CNTC-紫酱: #4c221b;
  --SCC-CNTC-雪青: #b0a4e3;
  --SCC-CNTC-藕色: #edd1d8;
  --SCC-CNTC-藕粉: #e4c6d0;
  --SCC-CNTC-灰梅: #e8d3c7;
  --SCC-CNTC-灰桜: #e8d3d1;
  --SCC-CNTC-枯草: #e4dc8a;
  --SCC-CNTC-白茶: #ddbb99;
  --SCC-CNTC-枯茶: #8d6449;
  --SCC-CNTC-桑染: #b79b5b;
  --SCC-CNTC-赤褐: #683f36;
  --SCC-CNTC-金茶: #f39800;
  --SCC-CNTC-玉蜀黍: #eec362;
  --SCC-CNTC-黄金: #e6b422;
  --SCC-CNTC-豆茶: #8b968d;
  --SCC-CNTC-麹塵: #6e7955;
  --SCC-CNTC-山鳩: #767c6b;
  --SCC-CNTC-海松茶: #5a544b;
  --SCC-CNTC-藍海松茶: #56564b;
  --SCC-CNTC-千歳茶: #494a41;
  --SCC-CNTC-岩井茶: #6b6f59;
  --SCC-CNTC-黒緑: #333631;
  --SCC-CNTC-柳煤竹: #5b6356;
  --SCC-CNTC-千緑: #316745;
  --SCC-CNTC-常緑: #028760;
  --SCC-CNTC-革色: #475950;
  --SCC-CNTC-萌葱: #006e54;
  --SCC-CNTC-百入茶: #1f3134;
  --SCC-CNTC-藍鉄: #393f4c;
  --SCC-CNTC-青褐: #393e4f;
  --SCC-CNTC-月白: #eaf4fc;
  --SCC-CNTC-淡藤: #bbc8e6;
  --SCC-CNTC-紫苑: #867ba9;
  --SCC-CNTC-紫黒: #2e2930;
  --SCC-CNTC-利休白茶: #b3ada0;
  --SCC-CNTC-煎茶色: #8c6450;
  --SCC-CNTC-黒橡: #544a47;
  --SCC-CNTC-檳榔子染: #433d3c;
  --SCC-CNTC-黒紅: #302833;
  --SCC-CNTC-濡羽: #000b00;
  --SCC-CNTC-暗黒: #16160e;
}
