:root {
  --SCC-SGTC-1A: #2f3033;
  --SCC-SGTC-1b: #e7edf1;
  --SCC-SGTC-2A: #363636;
  --SCC-SGTC-2B: #fcfcfc;
  --SCC-SGTC-3A: #202228;
  --SCC-SGTC-3B: #fbd283;
  --SCC-SGTC-3C: #f8f8f8;
  --SCC-SGTC-4A: #e8e8e8;
  --SCC-SGTC-4B: #d2d2d2;
  --SCC-SGTC-4C: #b6b6b6;
  --SCC-SGTC-4D: #9c9c9c;
  --SCC-SGTC-4E: #535353;
  --SCC-SGTC-5A: #e2e5ef;
  --SCC-SGTC-5B: #abbbd0;
  --SCC-SGTC-5C: #e8eef5;
  --SCC-SGTC-6A: #888888;
  --SCC-SGTC-6B: #f1f0e8;
  --SCC-SGTC-6C: #6a5f55;
  --SCC-SGTC-7A: #f6f6f6;
  --SCC-SGTC-7B: #777980;
  --SCC-SGTC-8A: #e9edef;
  --SCC-SGTC-8B: #434e5d;
  --SCC-SGTC-9A: #f7f7f7;
  --SCC-SGTC-9B: #f1f1f1;
  --SCC-SGTC-9C: #efefef;
  --SCC-SGTC-9D: #ececec;
  --SCC-SGTC-9E: #ebebeb;
  --SCC-SGTC-10A: #f2f7fb;
  --SCC-SGTC-10B: #2a3844;
  --SCC-SGTC-11A: #d0d1da;
  --SCC-SGTC-11B: #abb0bc;
  --SCC-SGTC-11C: #fefefe;
  --SCC-SGTC-12A: #cc959c;
  --SCC-SGTC-12B: #fffdf7;
  --SCC-SGTC-13A: #fffffb;
  --SCC-SGTC-13B: #70a4d2;
  --SCC-SGTC-14A: #a7c79c;
  --SCC-SGTC-14B: #799d6c;
  --SCC-SGTC-15A: #ffeff4;
  --SCC-SGTC-15B: #fff8ff;
  --SCC-SGTC-15C: #ffe9ef;
  --SCC-SGTC-15D: #eff1ff;
  --SCC-SGTC-15E: #fff2f0;
  --SCC-SGTC-16A: #87a0be;
  --SCC-SGTC-16B: #ffac5c;
  --SCC-SGTC-17A: #65787f;
  --SCC-SGTC-17B: #898f93;
  --SCC-SGTC-18A: #d4eaef;
  --SCC-SGTC-18B: #fbf7e2;
  --SCC-SGTC-18C: #fcf8e3;
  --SCC-SGTC-18D: #fdf8ec;
  --SCC-SGTC-18E: #cfe9f2;
  --SCC-SGTC-18F: #d3edee;
  --SCC-SGTC-18G: #dceeef;
  --SCC-SGTC-18H: #e3ecf2;
  --SCC-SGTC-19A: #fffcf4;
  --SCC-SGTC-19B: #ffe3df;
  --SCC-SGTC-19C: #fff2ef;
  --SCC-SGTC-19D: #ec838f;
  --SCC-SGTC-20A: #6d87a2;
  --SCC-SGTC-20B: #d2eaf4;
  --SCC-SGTC-20C: #bbe1d7;
  --SCC-SGTC-21A: #dfdad7;
  --SCC-SGTC-21B: #f4f2ee;
  --SCC-SGTC-21C: #a49990;
  --SCC-SGTC-22A: #f6f6f4;
  --SCC-SGTC-22B: #8987a8;
  --SCC-SGTC-22C: #ecebf0;
  --SCC-SGTC-22D: #eae6ee;
  --SCC-SGTC-22E: #dfdcec;
  --SCC-SGTC-22F: #d0cee6;
  --SCC-SGTC-22G: #bab6dc;
  --SCC-SGTC-23A: #dfeaf4;
  --SCC-SGTC-23B: #b7cdde;
  --SCC-SGTC-23C: #97b2c6;
  --SCC-SGTC-23D: #acc2d5;
  --SCC-SGTC-23E: #97b2c6;
  --SCC-SGTC-23F: #839db6;
  --SCC-SGTC-23G: #ebf4fa;
  --SCC-SGTC-24A: #d9d1e1;
  --SCC-SGTC-24B: #c2b2d3;
  --SCC-SGTC-24C: #e4e0ea;
  --SCC-SGTC-25A: #fff5f4;
  --SCC-SGTC-25B: #ffeae7;
  --SCC-SGTC-25C: #fff7e8;
  --SCC-SGTC-25D: #866d73;
  --SCC-SGTC-26A: #d8dfe7;
  --SCC-SGTC-26B: #7c899c;
  --SCC-SGTC-27A: #edf2f6;
  --SCC-SGTC-27B: #e6eff4;
  --SCC-SGTC-27C: #dce3e9;
  --SCC-SGTC-28A: #f1f0f5;
  --SCC-SGTC-28B: #f6f6f6;
  --SCC-SGTC-28C: #d9d6e9;
  --SCC-SGTC-29A: #efd5c4;
  --SCC-SGTC-29B: #e9bfa5;
  --SCC-SGTC-29C: #bb8b6a;
  --SCC-SGTC-30A: #dee9dd;
  --SCC-SGTC-30B: #ece0ce;
  --SCC-SGTC-31A: #6a9a6f;
  --SCC-SGTC-31B: #648266;
  --SCC-SGTC-31C: #509570;
  --SCC-SGTC-31D: #b1c48c;
  --SCC-SGTC-31E: #6c3725;
  --SCC-SGTC-32A: #252525;
  --SCC-SGTC-32B: #bd905a;
  --SCC-SGTC-32C: #15223d;
  --SCC-SGTC-32D: #7d0028;
  --SCC-SGTC-32E: #ab0000;
  --SCC-SGTC-32F: #650004;
  --SCC-SGTC-32G: #004b37;
  --SCC-SGTC-32H: #003539;
}
