:root {
  /* 主色 */
  --b3-theme-primary: var(--SCC-Purple-Soledar);
  --b3-theme-primary-light: var(--SCC-Purple-Soledar-light);
  --b3-theme-primary-lighter: var(--SCC-Purple-Soledar-lighter);
  --b3-theme-primary-lightest: var(--SCC-Purple-Soledar-lightest);
  --b3-theme-secondary: var(--SCC-Brown-186-light);
  --b3-theme-background: var(--SCC-Gray-HellisePotter);
  --b3-theme-background-light: var(--SCC-Gray-HellisePotter-light);
  --b3-theme-surface: var(--SCC-Gray-HellisePotter);
  --b3-theme-surface-light: var(--SCC-Gray-HellisePotter-light);
  --b3-theme-error: #d23f31; /* 不修改 */

  /* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: var(--SCC-Blue-Windom); /* 默认字色 */
  --b3-theme-on-surface: var(
    --SCColor
  ); /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色 */
  --b3-theme-on-surface-light: var(--SCC-primary-light);
  --b3-theme-on-error: #fff; /* 不修改 */

  /* 顶部工具栏 */
  --b3-toolbar-background: var(--SCC-primary-lightest);
  --b3-toolbar-blur-background: var(--SCC-Gray-HellisePotter-light);
  --b3-toolbar-color: var(--SCC-Blue-Windom-light);

  /* 线条 */
  --b3-border-color: var(--SCC-Gray-HellisePotter-light);

  /* 滚动条 */
  --b3-scroll-color: var(--SCC-Purple-186-lightest);

  /* 列表 */
  --b3-list-hover: var(--SCC-Purple-186-lightest);

  /* 菜单 */
  --b3-menu-background: var(--SCC-Gray-HellisePotter);

  /* 提示 */
  --b3-tooltips-color: #5A4D5Fc5;

  /* 遮罩 */
  --b3-mask-background: #070809a3;


  /* --- */
  --SCC-Component-selector-border: 1px solid var(--SCC-Purple-186-lighter);
  --SCC-Component-selector-bg-color: var(--SCC-baseComponent-selector-bg-color);
  --SCC-Component-button-text-color: var(--SCC-Purple-Soledar);
  --SCC-Component-button-bg-color: var(--b3-theme-primary-lightest);
  --SCC-Component-textarea-box-shadow: rgba(128, 81, 231, 0.31) 3px 3px 6px 0px inset,
  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  --SCC-Component-TabBar-hover-background-color: #dcd6f4a5;
  --SCC-Component-HR-LG1: linear-gradient(to right, transparent, #58315858, transparent);
  --SCC-Component-Inline-virtual-block-ref-border-bottom: 1px dotted #ce00ca;
  --SCC-Component-Inline-virtual-block-ref-bg-color-hover: #ffffffc5;
  --SCC-Component-EmbedBlock-bg-color: var(--SCC-Gray-HellisePotter);
  --SCC-Component-EmbedBlock-box-shadow: inset 9px 9px 29px #cacfde, inset -9px -9px 29px #f2f7ff;
  --SCC-Component-Table-tr-bg-color-1: var(--SCC-White);
  --SCC-Component-Table-tr-bg-color-2: var(--SCC-White-light);
}
