:root {
    /* 主色 */
    --b3-theme-primary: #119966;
    --b3-theme-primary-light: #119966c5;
    --b3-theme-primary-lighter: #119966a5;
    --b3-theme-primary-lightest: #11996635;
    --b3-theme-secondary: var(--SCC-Green-186-light);
    --b3-theme-background: #0d0d0d;
    --b3-theme-background-light: #0d0d0dc5;
    --b3-theme-surface: #0d0d0dc5;
    --b3-theme-surface-light: #0d0d0da5;
    --b3-theme-error: #d23f31;
    /* 不修改 */

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: var(--SCC-White-light);
    /* 默认字色 */
    --b3-theme-on-surface: var(--SCC-White-light);
    /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色 */
    --b3-theme-on-surface-light: var(--SCC-primary-light);
    --b3-theme-on-error: #fff;
    /* 不修改 */

    /* 顶部工具栏 */
    --b3-toolbar-background: var(--SCC-primary-lightest);
    --b3-toolbar-blur-background: #0d0d0dee;
    --b3-toolbar-color: var(--SCC-White-light);

    /* 线条 */
    --b3-border-color: unset;

    /* 滚动条 */
    --b3-scroll-color: var(--SCC-Purple-186-lightest);

    /* 列表 */
    --b3-list-hover: var(--SCC-Purple-186-lightest);

    /* 菜单 */
    --b3-menu-background: #131313c5;

    /* 提示 */
    --b3-tooltips-color: #093904c5;

    /* 遮罩 */
    --b3-mask-background: #030002dc;

    /* --- */
    --SCC-Component-selector-border: 1px solid var(--SCC-Purple-186-lighter);
    --SCC-Component-selector-bg-color: var(--SCC-baseComponent-selector-bg-color);
    --SCC-Component-button-text-color: var(--SCC-Gray-186);
    --SCC-Component-button-bg-color: var(--b3-theme-primary-lightest);
    --SCC-Component-textarea-box-shadow: rgba(220, 220, 220, 0.1) 2px 2px 0px 111px inset, rgba(220, 220, 220, 0.1) 0px -2px 0px 0px inset;
    --SCC-Component-TabBar-hover-background-color: #505855a5;
    --SCC-Component-HR-LG1: linear-gradient(to right, transparent, #58885858, transparent);
    --SCC-Component-Inline-virtual-block-ref-border-bottom: 1px dotted #587163;
    --SCC-Component-Inline-virtual-block-ref-bg-color-hover: #ffffffc5;
    --SCC-Component-EmbedBlock-bg-color: var(--SCC-Cyan-186-lighter);
    --SCC-Component-EmbedBlock-box-shadow: inset 9px 9px 29px #2d3f3e31, inset -9px -9px 29px #7c887c31;
    --SCC-Component-Table-tr-bg-color-1: var(--SCC-SGTC-1A);
    --SCC-Component-Table-tr-bg-color-2: var(--SCC-SGTC-2A);
    --SCC-Component-CodeBlock-bg-color: #afbbbb35;
    --SCC-Component-CodeBlock-bg-color-hover: #555;
    --SCC-Component-Message-button-ok-border: 3px ridge var(--SCC-Cyan-186-lighter) !important;
    --SCC-Component-Message-button-ok-bg-color: var(--SCC-CNTC-黛绿);
    --SCC-Component-meno-bg-color: var(--SCC-CNTC-黛绿);
    --SCC-Component-meno-border-bottom: 2px solid var(--b3-card-info-color);
    --SCC-Component-Counter-bg-color: var(--SCC-CNTC-黛绿);
    --SCC-Component-Counter-border: 1.3px solid var(--SCC-CNTC-黛绿);
    --SCC-Component-TabBar-item__focus-box-shadow: rgba(131, 131, 131, 0.4) 0px 2px 4px, rgba(131, 131, 131, 0.3) 0px 7px 3px -3px, rgba(131, 131, 131, 0.2) 0px -3px 0px inset;
    --SCC-Component-TabBar-item-box-shadow: rgba(131, 131, 131, 0.4) 0px 2px 4px, rgba(131, 131, 131, 0.3) 0px 7px 3px -3px, rgba(131, 131, 131, 0.2) 0px -3px 0px inset;
    --SCC-Component-TabBar-item__close-svg__hover-color: var(--SCC-CNTC-石绿);
}