:root {
  /* 主色 */
  --b3-theme-primary: var(--SCC-Blue-WPS);
  --b3-theme-primary-light: var(--SCC-Blue-WPS-light);
  --b3-theme-primary-lighter: var(--SCC-Blue-WPS-lighter);
  --b3-theme-primary-lightest: var(--SCC-Blue-WPS-lightest);
  --b3-theme-secondary: var(--SCC-Brown-186-light);
  --b3-theme-background: var(--SCC-White-WPS);
  --b3-theme-background-light: var(--SCC-White-WPS-light);
  --b3-theme-surface: var(--SCC-White-WPS);
  --b3-theme-surface-light: var(--SCC-White-WPS-light);
  --b3-theme-error: #d23f31; /* 不修改 */

  /* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #131131; /* 默认字色 */
  --b3-theme-on-surface: var(
    --SCColor
  ); /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色 */
  --b3-theme-on-surface-light: var(--SCC-primary-light);
  --b3-theme-on-error: #fff; /* 不修改 */

  /* 顶部工具栏 */
  --b3-toolbar-background: var(--SCC-primary-lightest);
  --b3-toolbar-blur-background: var(--SCC-White-WPS-light);
  --b3-toolbar-color: var(--SCC-Blue-Windom-light);

  /* 线条 */
  --b3-border-color: var(--SCC-White-WPS-light);

  /* 滚动条 */
  --b3-scroll-color: var(--SCC-Blue-Windom-lightest);

  /* 列表 */
  --b3-list-hover: var(--SCC-Blue-Windom-lightest);

  /* 菜单 */
  --b3-menu-background: var(--SCC-White-WPS);

  /* 提示 */
  --b3-tooltips-color: #2A445Ac5;

  /* 遮罩 */
  --b3-mask-background: #030308a3;


  /* --- */
  --SCC-Component-selector-border: 1px solid var(--SCC-Blue-WPS-light);
  --SCC-Component-selector-bg-color: var(--SCC-baseComponent-selector-bg-color);
  --SCC-Component-button-text-color: var(--SCC-Blue-WPS);
  --SCC-Component-button-bg-color: var(--b3-theme-primary-lightest);
  --SCC-Component-textarea-box-shadow: rgba(88, 101, 131, 0.31) 1px 1px 31px 0px inset,
  rgba(255, 255, 255, 0.5) -3px -3px 66px 1px inset;
  --SCC-Component-TabBar-hover-background-color: var(--SCC-Blue-Windom_2-lighter);
  --SCC-Component-HR-LG1: linear-gradient(to right, transparent, #58588858, transparent);
  --SCC-Component-Inline-virtual-block-ref-border-bottom: 1px dotted #311358;
  --SCC-Component-Inline-virtual-block-ref-bg-color-hover: #ffffffc5;
  --SCC-Component-EmbedBlock-bg-color: #50588803;
  --SCC-Component-EmbedBlock-box-shadow: inset 9px 9px 29px #38385813, inset -9px -9px 29px #f2f1f931;
  --SCC-Component-Table-tr-bg-color-1: #fcfefa;
  --SCC-Component-Table-tr-bg-color-2: #f7fcf013;
  --SCC-Component-CodeBlock-bg-color: #fcfffca5;
  --SCC-Component-CodeBlock-bg-color-hover: #fff;
  --SCC-Component-Message-button-ok-border: 3px ridge var(--SCC-Cyan-186-lighter) !important;
  --SCC-Component-Message-button-ok-bg-color: var(--SCC-CNTC-青褐);
  --SCC-Component-meno-bg-color: var(--SCC-CNTC-淡藤);
  --SCC-Component-meno-border-bottom: 2px solid var(--b3-card-info-color);
  --SCC-Component-Counter-bg-color: var(--SCC-CNTC-青褐);
  --SCC-Component-Counter-border: 1.3px solid var(--SCC-CNTC-淡藤);
  --SCC-Component-TabBar-item__focus-box-shadow: rgba(131, 131, 131, 0.4) 0px 2px 4px, rgba(131, 131, 131, 0.3) 0px 7px 3px -3px, rgba(131, 131, 131, 0.2) 0px -3px 0px inset;
  --SCC-Component-TabBar-item-box-shadow: rgba(131, 131, 131, 0.4) 0px 2px 4px, rgba(131, 131, 131, 0.3) 0px 7px 3px -3px, rgba(131, 131, 131, 0.2) 0px -3px 0px inset;
}
