:root {
  --SCC-baseComponent-Button-bg-color-TabBar: transparent;
  --SCC-baseComponent-CodeBlock-bg-color: #ffffffa5;
  --SCC-baseComponent-CodeBlock-bg-color-hover: #fff;
  --SCC-baseComponent-CodeBlock-ab-color: var(--SCC-primary-lighter);
  --SCC-baseComponent-selector-bg-color: var(--b3-theme-primary-lightest);
  --SCC-baseComponent-text-color-1: var(--SCC-CommonL-text-color-1);
  --SCC-baseComponent-text-color-2: var(--SCC-CommonL-text-color-2);
  --SCC-baseComponent-Table-tr-bg-color-1: var(--SCC-White);
  --SCC-baseComponent-Table-tr-bg-color-2: var(--SCC-White-light);
  --SCC-baseComponent-Table-border-1:  0.25pt solid var(--SCC-Red-WPS);
  --SCC-baseComponent-Icon-arrow-color-1: var(--SCC-Gray);
  --SCC-baseComponent-EmbedBlock-bg-color: var(--SCC-Gray-HellisePotter);
  --SCC-baseComponent-EmbedBlock-box-shadow: inset 9px 9px 29px #cacfde, inset -9px -9px 29px #f2f7ff;
  --SCC-baseComponent-Inline-virtual-block-ref-border-bottom: 1px dotted var(--SCC-Red-WPS-lighter);
  --SCC-baseComponent-Inline-virtual-block-ref-bg-color-hover: #ffffffc5;
  --SCC-baseComponent-Inline-tag-bg-color: var(--SCC-White-light);
  --SCC-baseComponent-Input-box-shadow-focus: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --SCC-baseComponent-Switch-checked-ab-color: #fff;
  --SCC-baseComponent-breadcrumb__bar-color: var(--SCColor);
  --SCC-baseComponent-breadcrumb-box-shadow: rgba(222, 227, 240, 0.13) 1px 0px 6px, rgba(222, 227, 240, 0.13) 0px 8px 5px 1px inset;
  --SCC-baseComponent-breadcrumb-position: absolute;
  --SCC-baseProperty-Opacity-A: 0.85;
  --SCC-baseProperty-Opacity-B: 0;
  /* 块引用波浪线动画图标 | The icon of wavy line animation */
  --custom-span-ref-animation-icon: url(/appearance/themes/Sofill-/icon/wavy-line.svg);
  /* 卡片背景 */
  --b3-card-error-color: rgb(97, 26, 21);
  --b3-card-error-background: #f5d1cf;
  --b3-card-warning-color: rgb(102, 60, 0);
  --b3-card-warning-background: #ffe8c8;
  --b3-card-info-color: rgb(13, 60, 97);
  --b3-card-info-background: #d6eaf9;
  --b3-card-success-color: rgb(30, 70, 32);
  --b3-card-success-background: #d7eed8;

  /* 自定义文字 */
  --b3-font-color1: var(--SCC-Red-Firole);
  --b3-font-color2: var(--SCC-Pink-Firole);
  --b3-font-color3: var(--SCC-Purple-186);
  --b3-font-color4: var(--SCC-Blue-186);
  --b3-font-color5: var(--SCC-Black-186);
  --b3-font-color6: var(--SCColor);
  --b3-font-color7: var(--SCC-Gray-186);
  --b3-font-color8: var(--SCC-Cyan-186);
  --b3-font-color9: var(--SCC-Cyan-186-lighter);
  --b3-font-color10: var(--SCC-Green-186);
  --b3-font-color11: var(--SCC-Yellow-HellisePotter);
  --b3-font-color12: var(--SCC-Orange-Windom);
  --b3-font-color13: var(--b3-theme-on-background);
  --b3-font-background1: var(--SCC-Red-Firole-light);
  --b3-font-background2: var(--SCC-Pink-Firole-light);
  --b3-font-background3: var(--SCC-Purple-186-light);
  --b3-font-background4: var(--SCC-Blue-186-light);
  --b3-font-background5: var(--SCC-Brown-186-light);
  --b3-font-background6: var(--SCC-Black-186-lighter);
  --b3-font-background7: var(--SCC-Gray-186-light);
  --b3-font-background8: var(--SCC-Cyan-186-light);
  --b3-font-background9: var(--SCC-Blue-Windom_2-light);
  --b3-font-background10: var(--SCC-Green-186-lighter);
  --b3-font-background11: var(--SCC-Yellow-HellisePotter-light);
  --b3-font-background12: var(--SCC-Orange-Windom-light);
  --b3-font-background13: var(--b3-theme-on-background);

  /* 动画效果 */
  --b3-transition: all 0.31s cubic-bezier(0, 0, 0.2, 1) 0ms;
  --b3-width-transition: width .15s cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;

  /* 阴影 */
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  /* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #660e7a;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #202124;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #5f6368;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  /* 编辑器搜索颜色 */
  --b3-protyle-search-background: var(--SCC-Yellow-HellisePotter);
  --b3-protyle-search-border-color: var(--SCC-Yellow-HellisePotter-light);
  --b3-protyle-search-current-background: #a5d3fe;

  /* 代码片段背景 */
  --b3-protyle-code-background: rgba(27, 31, 35, 0.05);
  --b3-protyle-code-linenumber-hl: transparent;

  /* 所见即所得行内元素颜色 */
  --b3-protyle-inline-strong-color: #202124;
  --b3-protyle-inline-em-color: #202124;
  --b3-protyle-inline-s-color: #58585831;
  --b3-protyle-inline-link-color: var(--SCC-Blue-Windom_2); /* 超链接字色 */
  --b3-protyle-inline-mark-background: #ffe955;
  --b3-protyle-inline-mark-color: #202124;
  --b3-protyle-inline-tag-color: #5f6368;
  --b3-protyle-inline-blockref-color: var(--SCC-Red-WPS); /* 块引用字色 */

  /* PDF */
  --b3-pdf-selection: #d0e9c8;
  --b3-pdf-sidebar-width: 200px;
  --b3-pdf-offset: 0;
  --b3-pdf-background1: var(--b3-theme-error);
  --b3-pdf-background2: #f5822e;
  --b3-pdf-background3: var(--b3-theme-secondary);
  --b3-pdf-background4: #65b84d;
  --b3-pdf-background5: #f5539e;
  --b3-pdf-background6: var(--b3-theme-primary);
  --b3-pdf-background7: #944194;
}


/* 集市主题详情页 */
.config-bazaar__readme,.config-bazaar__readme .item__side {
  background-color: var(--b3-theme-background);
  z-index: 99;
}
/* 避免搜索框阴影样式被遮挡 */
.search__header {
  z-index: 98;
}