:root {
    /* --- */
    --SCC-Component-selector-border: 1px solid var(--SCC-Purple-186-lighter);
    --SCC-Component-selector-bg-color: var(--SCC-baseComponent-selector-bg-color);
    --SCC-Component-button-text-color: var(--SCC-Gray-186);
    --SCC-Component-button-bg-color: var(--b3-theme-primary-lightest);
    /* 主色 */
    --b3-theme-primary: var(--SCC-Gray-186);
    --b3-theme-primary-light: var(--SCC-Gray-186-light);
    --b3-theme-primary-lighter: var(--SCC-Gray-186-lighter);
    --b3-theme-primary-lightest: var(--SCC-Gray-186-lightest);
    --b3-theme-secondary: var(--SCC-Brown-186-light);
    --b3-theme-background: var(--SCC-Black-186);
    --b3-theme-background-light: var(--SCC-Black-186-light);
    --b3-theme-surface: var(--SCC-Black-186-light);
    --b3-theme-surface-light: var(--SCC-Black-186-lighter);
    --b3-theme-error: #d23f31; /* 不修改 */

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: var(--SCC-White); /* 默认字色 */
    --b3-theme-on-surface: var(--SCC-White-light); /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色 */
    --b3-theme-on-surface-light: var(--SCC-primary-light);
    --b3-theme-on-error: #fff; /* 不修改 */

    /* 顶部工具栏 */
    --b3-toolbar-background: unset;
    --b3-toolbar-blur-background: var(--SCC-White-lighter);
    --b3-toolbar-color: var(--SCC-White-light);


    /* 线条 */
    --b3-border-color: unset;

    /* 滚动条 */
    --b3-scroll-color: var(--SCC-Purple-186-lightest);

    /* 列表 */
    --b3-list-hover: var(--SCC-Purple-186-lightest);

    /* 菜单 */
    --b3-menu-background: #131313c5;

    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);

    /* 遮罩 */
    --b3-mask-background: var(--SCC-primary-light);

}