:root {
  /* 主色 */
  --b3-theme-primary: #cc5831;
  --b3-theme-primary-light: #cc5831c5;
  --b3-theme-primary-lighter: #cc5831a5;
  --b3-theme-primary-lightest: #cc583135;
  --b3-theme-secondary: var(--SCC-Brown-186-light);
  --b3-theme-background: #eed289;
  --b3-theme-background-light: #eed28935;
  --b3-theme-surface: #eed289;
  --b3-theme-surface-light: #eed28935;
  --b3-theme-error: #d23f31; /* 不修改 */

  /* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #130103; /* 默认字色 */
  --b3-theme-on-surface: var(
    --SCColor
  ); /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色 */
  --b3-theme-on-surface-light: var(--SCC-primary-light);
  --b3-theme-on-error: #fff; /* 不修改 */

  /* 顶部工具栏 */
  --b3-toolbar-background: var(--SCC-primary-lightest);
  --b3-toolbar-blur-background: #eed28935;
  --b3-toolbar-color: var(--SCC-Red-WPS-light);

  /* 线条 */
  --b3-border-color: #eed28935;

  /* 滚动条 */
  --b3-scroll-color: var(--SCC-Pink-WPS-lightest);

  /* 列表 */
  --b3-list-hover: var(--SCC-Pink-WPS-lightest);

  /* 菜单 */
  --b3-menu-background: #eed289;

  /* 提示 */
  --b3-tooltips-color: #6E5607c5;

  /* 遮罩 */
  --b3-mask-background: #020208a3;


  /* --- */
  --SCC-Component-selector-border: 1px solid #cc5831c5;
  --SCC-Component-selector-bg-color: var(--SCC-baseComponent-selector-bg-color);
  --SCC-Component-button-text-color: #cc5831;
  --SCC-Component-button-bg-color: var(--b3-theme-primary-lightest);
  --SCC-Component-textarea-box-shadow: rgba(138, 88, 131, 0.1) 1px 1px 1px 1px inset,
  rgba(255, 230, 80, 0.31) -3px -3px 58px 1px inset;
  --SCC-Component-TabBar-hover-background-color: #ffe389a5;
  --SCC-Component-HR-LG1: linear-gradient(to right, #fff8cc13, #fff8ee58, #fff8cc13);
  --SCC-Component-Inline-virtual-block-ref-border-bottom: 1px dotted #fcff01;
  --SCC-Component-Inline-virtual-block-ref-bg-color-hover: #ffffffc5;
  --SCC-Component-EmbedBlock-bg-color: #eeb07113;
  --SCC-Component-EmbedBlock-box-shadow: inset 9px 9px 29px #58583113, inset -9px -9px 29px #f4f0ff13;
}
