span[data-type~=a][data-href^="assets/"][data-href$=".zip"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".zipx"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".egg"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/zip.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".rar"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/rar.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".7z"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/7z.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".pdf"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/pdf.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".doc"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".docx"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/word.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".xls"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".xlsx"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".xlsm"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".xlsb"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/excel.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".ppt"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".pptx"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".pptm"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/ppt.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".psd"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/ps.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".exe"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/exe.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".msi"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/exe.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".apk"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/apk.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".json"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/json.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".c"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/c.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".cs"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/cs.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".cpp"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/cpp.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".vue"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/vue.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".ts"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/ts.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".js"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/js.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".css"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/css.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".txt"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/txt.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".md"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/md.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".py"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/py.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".xml"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/xml.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".htm"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".html"]:not(:empty)::before,
span[data-type~=a][data-href^="assets/"][data-href$=".mhtml"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/html.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".iso"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/iso.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".log"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/log.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".csv"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/csv.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".ipynb"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/ipynb.png");
}
span[data-type~=a][data-href^="assets/"][data-href$=".sql"]:not(:empty)::before {
  content: "";
  background-image: url("./assets/sql.png");
}