span[data-type~=a][data-href^="file://"][data-href$=".zip"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".zipx"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".egg"]:not(:empty)::before {
  content: "";
  background-image: url("./file/zip.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".rar"]:not(:empty)::before {
  content: "";
  background-image: url("./file/rar.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".7z"]:not(:empty)::before {
  content: "";
  background-image: url("./file/7z.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".pdf"]:not(:empty)::before {
  content: "";
  background-image: url("./file/pdf.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".doc"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".docx"]:not(:empty)::before {
  content: "";
  background-image: url("./file/word.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".xls"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".xlsx"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".xlsm"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".xlsb"]:not(:empty)::before {
  content: "";
  background-image: url("./file/excel.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".ppt"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".pptx"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".pptm"]:not(:empty)::before {
  content: "";
  background-image: url("./file/ppt.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".psd"]:not(:empty)::before {
  content: "";
  background-image: url("./file/ps.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".exe"]:not(:empty)::before {
  content: "";
  background-image: url("./file/exe.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".msi"]:not(:empty)::before {
  content: "";
  background-image: url("./file/exe.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".apk"]:not(:empty)::before {
  content: "";
  background-image: url("./file/apk.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".json"]:not(:empty)::before {
  content: "";
  background-image: url("./file/json.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".c"]:not(:empty)::before {
  content: "";
  background-image: url("./file/c.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".cs"]:not(:empty)::before {
  content: "";
  background-image: url("./file/cs.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".cpp"]:not(:empty)::before {
  content: "";
  background-image: url("./file/cpp.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".vue"]:not(:empty)::before {
  content: "";
  background-image: url("./file/vue.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".ts"]:not(:empty)::before {
  content: "";
  background-image: url("./file/ts.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".js"]:not(:empty)::before {
  content: "";
  background-image: url("./file/js.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".css"]:not(:empty)::before {
  content: "";
  background-image: url("./file/css.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".txt"]:not(:empty)::before {
  content: "";
  background-image: url("./file/txt.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".md"]:not(:empty)::before {
  content: "";
  background-image: url("./file/md.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".py"]:not(:empty)::before {
  content: "";
  background-image: url("./file/py.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".xml"]:not(:empty)::before {
  content: "";
  background-image: url("./file/xml.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".htm"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".html"]:not(:empty)::before,
span[data-type~=a][data-href^="file://"][data-href$=".mhtml"]:not(:empty)::before {
  content: "";
  background-image: url("./file/html.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".iso"]:not(:empty)::before {
  content: "";
  background-image: url("./file/iso.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".log"]:not(:empty)::before {
  content: "";
  background-image: url("./file/log.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".csv"]:not(:empty)::before {
  content: "";
  background-image: url("./file/csv.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".ipynb"]:not(:empty)::before {
  content: "";
  background-image: url("./file/ipynb.png");
}
span[data-type~=a][data-href^="file://"][data-href$=".sql"]:not(:empty)::before {
  content: "";
  background-image: url("./file/sql.png");
}