@layer {

    .p[data-type="NodeParagraph"] a[href^="file://"]::before,
    span[data-type~=a][data-href^="file://"]:not(:empty)::before {
        content: "";
        background-image: url("./protocal/file.png");
    }

    .p[data-type="NodeParagraph"] a[href^="assets/"]::before,
    span[data-type~=a][data-href^="assets/"]:not(:empty)::before {
        content: "";
        background-image: url("./protocal/assets.png");
    }

    .p[data-type="NodeParagraph"] a[href^="http://"]::before,
    span[data-type~=a][data-href^="http://"]:not(:empty)::before {
        content: "";
        background-image: url("./protocal/http.png");
    }

    .p[data-type="NodeParagraph"] a[href^="https://"]::before,
    span[data-type~=a][data-href^="https://"]:not(:empty)::before {
        content: "";
        background-image: url("./protocal/https.png");
    }

    .p[data-type="NodeParagraph"] a[href^="ftp://"]::before,
    span[data-type~=a][data-href^="ftp://"]:not(:empty)::before {
        content: "";
        background-image: url("./protocal/ftp.png");
    }

    .p[data-type="NodeParagraph"] a[href^="thunder://"]::before,
    span[data-type~=a][data-href^="thunder://"]:not(:empty)::before {
        content: "";
        background-image: url("./protocal/thunder.png");
    }

    .p[data-type="NodeParagraph"] a[href^="magnet:?"]::before,
    span[data-type~=a][data-href^="magnet:?"]:not(:empty)::before {
        content: "";
        background-image: url("./protocal/magnet.png");
    }
}