/* 代码托管专区 */
a[href*="//pypi.org/"]:not(:has(img))::before,
span[data-type~=a][data-href*="//pypi.org/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/pypi.org.png");
}
a[href*="//bitbucket.org/"]:not(:has(img))::before,
span[data-type~=a][data-href*="//bitbucket.org/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/bitbucket.org.png");
}
a[href*="//github.com/"]:not(:has(img))::before,
span[data-type~=a][data-href*="//github.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/github.com.svg");
}
a[href*="//gitee.com/"]:not(:has(img))::before,
span[data-type~=a][data-href*="//gitee.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/gitee.com.png");
}

/* 第一批认证网站收录 */
a[href*="//cn.bing.com/"]::before,
span[data-type~=a][data-href*="//cn.bing.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/cn.bing.com.png");
}
a[href*="//www.weidown.com/"]::before,
span[data-type~=a][data-href*="//www.weidown.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.weidown.com.png");
}
a[href*="//pc.qq.com/"]::before,
span[data-type~=a][data-href*="//pc.qq.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/pc.qq.com.png");
}
a[href*="pkgs.org/"]::before,
span[data-type~=a][data-href*="pkgs.org/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/pkgs.org.svg");
}
a[href*="//mp.weixin.qq.com/"]::before,
span[data-type~=a][data-href*="//mp.weixin.qq.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/mp.weixin.qq.com.png");
}
a[href*="//www.cnblogs.com/"]::before,
span[data-type~=a][data-href*="//www.cnblogs.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.cnblogs.com.png");
}
a[href*="//cloud.tencent.com/"]::before,
span[data-type~=a][data-href*="//cloud.tencent.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/cloud.tencent.com.png");
}
a[href*="//developer.mozilla.org/"]::before,
span[data-type~=a][data-href*="//developer.mozilla.org/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/developer.mozilla.org.png");
}
a[href*="//www.runoob.com/"]::before,
span[data-type~=a][data-href*="//www.runoob.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.runoob.com.png");
}
a[href*="//www.w3school.com"]::before,
span[data-type~=a][data-href*="//www.w3school.com"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.w3school.com.png");
}
a[href*="//nodejs.cn/"]::before,
span[data-type~=a][data-href*="//nodejs.cn/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/nodejs.cn.png");
}
a[href*="//ld246.com/"]::before,
span[data-type~=a][data-href*="//ld246.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/ld246.com.png");
}
a[href*="microsoft.com/"]::before,
span[data-type~=a][data-href*=".microsoft.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/microsoft.com.png");
}
a[href*="//stackoverflow.com/"]::before,
span[data-type~=a][data-href*="//stackoverflow.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/stackoverflow.com.png");
}
a[href*="python.org/"]::before,
span[data-type~=a][data-href*="python.org/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/python.org.png");
}
a[href*="//www.yuque.com/"]::before,
span[data-type~=a][data-href*="//www.yuque.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.yuque.com.png");
}
a[href*="//www.bilibili.com/"]::before,
span[data-type~=a][data-href*="//www.bilibili.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.bilibili.com.png");
}
a[href*="gov.cn/"]::before,
span[data-type~=a][data-href*="gov.cn/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/gov.cn.png");
}
a[href*="kdocs.cn/"]::before,
span[data-type~=a][data-href*="kdocs.cn/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/kdocs.cn.png");
}
a[href*="flowus.cn/"]::before,
span[data-type~=a][data-href*="flowus.cn/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/flowus.cn.png");
}

/* 第一批征集网站收录 */
/* 免责声明：以下站点均来自网友投稿，未经审核 */
a[href*="//javtxt.org/"]::before,
span[data-type~=a][data-href*="//javtxt.org/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/javtxt.org.png");
}
a[href*="//www.ghxi.com/"]::before,
span[data-type~=a][data-href*="//www.ghxi.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.ghxi.com.png");
}
a[href*="//www.sozi.cn/"]::before,
span[data-type~=a][data-href*="//www.sozi.cn/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.sozi.cn.png");
}
a[href*="chinaz.com/"]::before,
span[data-type~=a][data-href*="chinaz.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/chinaz.com.png");
}
a[href*="//yandex.com/"]::before,
span[data-type~=a][data-href*="//yandex.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/yandex.com.png");
}
a[href*="//www.zhangxinxu.com/"]::before,
span[data-type~=a][data-href*="//www.zhangxinxu.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/www.zhangxinxu.com.png");
}
a[href*="//juejin.cn/"]::before,
span[data-type~=a][data-href*="//juejin.cn/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/juejin.cn.png");
}
a[href*="zhihu.com/"]::before,
span[data-type~=a][data-href*="zhihu.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/zhihu.com.png");
}
a[href*="aliyun.com/"]::before,
span[data-type~=a][data-href*="aliyun.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/aliyun.com.png");
}
a[href*="airtable.com/"]::before,
span[data-type~=a][data-href*="airtable.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/airtable.com.png");
}
a[href*="cnki.net/"]::before,
span[data-type~=a][data-href*="cnki.net/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/cnki.net.png");
}
a[href*="//wiki.mbalib.com/"]::before,
span[data-type~=a][data-href*="//wiki.mbalib.com/"]:not(:empty)::before {
    content: "";
    background-image: url("./web/wiki.mbalib.com.png");
}
a[href*="///"]::before,
span[data-type~=a][data-href*="///"]:not(:empty)::before {
    content: "";
    background-image: url("./web/.png");
}
a[href*="///"]::before,
span[data-type~=a][data-href*="///"]:not(:empty)::before {
    content: "";
    background-image: url("./web/.png");
}
a[href*="///"]::before,
span[data-type~=a][data-href*="///"]:not(:empty)::before {
    content: "";
    background-image: url("./web/.png");
}