body.android input#toolbarName {
  width: 200px !important;
}

body.android input#toolbarName:focus {
  width: 217px !important;
}

body.android input#toolbarName:focus+div {
  display: none;
}

body.android .toolbar.toolbar--border #toolbarMore {
  margin-right: 8px;
}

body.android svg {
  min-height: 14px;
  min-width: 14px;
  scale: 1.5;
}

body.android div:not(.file-tree) .b3-list-item__action {
  display: flex !important;
}


body.android .file-tree.sy__file ul.b3-list.b3-list--background>ul>ul li[data-type="navigation-file"] .counter.popover__block {
  left: 0px;
  position: absolute;
  max-width: 25px;
  margin-left: 1px;
}

body.android .file-tree.sy__file ul.b3-list.b3-list--background>ul>ul>ul>ul li[data-type="navigation-file"] .b3-list-item__action[data-type="more-file"] {
  height: 22px;
  padding: 0 4px;
  left: 43px;
  position: absolute;
  display: inline-flex !important;
  opacity: .58;
}

body.android .file-tree.sy__file ul.b3-list.b3-list--background>ul>ul>ul>ul>ul li[data-type="navigation-file"] .b3-list-item__action[data-type="new"] {
  height: 22px;
  padding: 0 4px;
  left: 68px;
  position: absolute;
  display: inline-flex;
  opacity: .58;
}

body.android .b3-menu__item {
  margin: 3px;
}


@media screen and (min-width: 960px) {
  body.body--desktop .fn__size200 {
    width: 150px;
    min-width: 131px;
  }
}
@media screen and (max-width: 960px) {
  body.body--desktop .fn__size200 {
    width: 131px;
    min-width: 131px;
  }
}
/* Android Pad 端竖屏状态下【设置】-【快捷键】布局问题 #130 */
body.body--desktop
  #keymapList
  > div.fn__flex
  > label:nth-child(3)
  > svg,
body.body--desktop #searchByKey {
  display: none;
}
body.body--desktop .fn__size200#copyKey {
  letter-spacing: -0.5px;
}

body.body--mobile .side-panel {
  background-color: var(--b3-theme-background-light);
  opacity: .92;
  backdrop-filter: blur(5.8px);
}

/* 右侧菜单 */
body.body--mobile #menu .b3-list-item--big {
  padding: 13px 24px;
}